include LICENSE.rst
include README.rst
include AUTHORS.rst
include pyproject.toml
include requirements.txt
include fastspecfit/data/*

graft bin
graft etc
graft doc

prune build
prune dist
prune htmlcov
prune doc/_build
