numpy<2
astropy
scipy
healpy
numba
seaborn
matplotlib
fitsio
speclite
git+https://github.com/desihub/desimodel.git@0.19.2
git+https://github.com/desihub/desitarget.git@2.8.0
git+https://github.com/desihub/desispec.git@0.68.1
