numpy
scipy
astropy
healpy
numba
seaborn
matplotlib
fitsio
git+https://github.com/desihub/desimodel.git@0.19.1
git+https://github.com/desihub/desitarget.git@2.7.0
git+https://github.com/desihub/desispec.git@0.64.0
git+https://github.com/desihub/speclite.git@v0.20
