{% extends "base.html" %}
{% load my_templatetag %}
{% load static %}

{% block content %}

<div class="e-content entry-content" itemprop="articleBody text">
<div>
<br />
<h2><a href="https://sga.legacysurvey.org"</a>Siena Galaxy Atlas 2020</h2>
<br />
<div class="col-md-6 col-left docutils container">
  <p>Welcome to the data portal for the SGA-2020!</p>
  
  <p>Please refer to
  the <a href="https://www.legacysurvey.org/sga/sga2020">SGA-2020
  documentation</a> (or click on the SGA dropdown menu) for full details
  regarding this data release and
  the <a href="https://www.legacysurvey.org/sga/sga2020#acknowledgments">required
  acknowledgments and conditions of use</a>.</p> 

  <img style="width: 400px;" src="{% static "files/sga-2020-sky.png" %}" alt="SGA-2020 sky"/>
</div>

<div class="col-md-6 col-right docutils container">
  <div class="jumbotron">
    <h4>Full Catalog [675
      MB]</h4><a href="https://portal.nersc.gov/project/cosmo/data/sga/2020/SGA-2020.fits" download="SGA-2020.fits">SGA-2020.fits</a><a href="https://portal.nersc.gov/project/cosmo/temp/ioannis/sga-dr9/sga/sga2020/#sga-2020-fits">
      (data model)</a> 
    <h4>On the web</h4>
    <a href="https://portal.nersc.gov/project/cosmo/data/sga/2020/data">https://portal.nersc.gov/project/cosmo/data/sga/2020/data</a>
    <h4>At NERSC (for collaborators)</h4>/global/cfs/cdirs/cosmo/data/sga/2020
  </div>
</div>

<div class="container"></div>

<hr />

<div><a id="query"></a></div>
<div style="text-align: center;">
  <div style="text-align: center;">
    <h3>Cone Search</h3>
    <form style="display: inline-block;" method="get" action="#results">
      <table>
      <tr>
        <td class="search_th"><label for="conera">Search RA</label></td>
        <td><input id="conera" name="conera" step="0.0001" type="number" value="{{cone_ra}}" placeholder="degrees" min="0" max="360"/></td> 
       </tr>
      <tr>
        <td class="search_th"><label for="conedec">Search Dec</label></td>
        <td><input id="conedec" name="conedec" step="0.0001" type="number" value="{{cone_dec}}" placeholder="degrees" min="-90" max="90"/></td> 
      </tr>
      <tr>
        <td class="search_th"><label for="coneradius">Search Radius</label>&nbsp; &nbsp;</td>
        <td><input id="coneradius" name="coneradius" step="0.01" type="number" value="{{cone_rad}}" placeholder="arcmin" min="0"/></td>
       </tr>
      </table>
    <button type="submit" class="btn btn-primary" style="margin-top: 15px;">Cone Search</button>
    </form>

    <hr />
    
    <h3>Filter the Sample</h3>
    <br />
    <form style="display: inline-block;" method="get" action="#results">
      <table>
      <tr>
           <th class="search_th"><label for="galmatch">Galaxy</label></th>
           <td><input id="galmatch" name="galaxy__match" type="text" value="" placeholder="galaxy"/></td> 
           <td></td>
      </tr>
      <tr>
           <th class="search_th"><label for="groupmatch">Group Name</label></th>
           <td><input id="groupmatch" name="group__match" type="text" value="" placeholder="group"/></td> 
           <td></td>
      </tr>
      <tr>
           <th class="search_th"><label for="idlo">SGA ID</label></th>
           <td><input id="idlo" name="sgaid__gte" step="1" type="number" value="" placeholder="min" min="0"/></td> 
           <td><input id="idhi" name="sgaid__lte" step="1" type="number" value="" placeholder="max" min="0"/></td> 
      </tr>
      <tr>
           <th class="search_th"><label for="diamlo">Galaxy Diameter</label>&nbsp;
           &nbsp;</th> 
           <td><input id="diamlo" name="diam__gte" step="0.1" type="number" value=""
           placeholder="min (arcmin)" min="0"/></td> 
           <td><input id="diamhi" name="diam__lte" step="0.1" type="number" value=""
           placeholder="max (arcmin)" min="0"/></td> 
      </tr>
    
      <tr>
           <th class="search_th"><label for="groupdiamlo">Group
           Diameter</label>&nbsp; &nbsp;</th> 
           <td><input id="groupdiamlo" name="groupdiam__gte" step="0.1" type="number" value=""
           placeholder="min (arcmin)" min="0"/></td> 
           <td><input id="groupdiamhi" name="groupdiam__lte" step="0.1" type="number" value=""
           placeholder="max (arcmin)" min="0"/></td> 
      </tr>

      {% comment %}
        <tr>
             <th class="search_th"><label for="ralo">RA</label></th>
             <td><input id="ralo" name="ra__gte" step="0.01" type="number" value="" placeholder="min"/></td> 
             <td><input id="rahi" name="ra__lte" step="0.01" type="number" value="" placeholder="max"/></td> 
        </tr>
        <tr>
             <th class="search_th"><label for="declo">Dec</label></th>
             <td><input id="declo" name="dec__gte" step="0.01" type="number" value="" placeholder="min"/></td> 
             <td><input id="dechi" name="dec__lte" step="0.01" type="number" value="" placeholder="max"/></td> 
        </tr>
        <tr>
             <th class="search_th"><label for="groupralo">Group RA</label></th>
             <td><input id="groupralo" name="groupra__gte" step="0.01" type="number"
             value="" placeholder="min (degrees)"/></td> 
             <td><input id="grouprahi" name="groupra__lte" step="0.01" type="number"
             value="" placeholder="max (degrees)"/></td> 
        </tr>
        <tr>
             <th class="search_th"><label for="groupdeclo">Group Dec</label>&nbsp;
             &nbsp;</th> 
             <td><input id="groupdeclo" name="groupdec__gte" step="0.01" type="number"
             value="" placeholder="min (degrees)"/></td>  
             <td><input id="groupdechi" name="groupdec__lte" step="0.01" type="number"
             value="" placeholder="max (degrees)"/></td>  
        </tr>
      {% endcomment %}
    
      </table>
    <button type="submit" class="btn btn-primary" style="margin-top: 15px;">Filter</button>
    </form>
    
    <hr />
  </div>
  
  <div><a id="results"></a></div>
    <h3>Results</h3>
    
    <p class="search_log">Showing {{ page.start_index }} - {{ page.end_index }} of {{paginator.count}}</p>
    
    {% comment %}
    <pre class="search_log" > {% url_pull request %} </pre>
    {% endcomment %}
    
    <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary" name="dbutn" >Download</button>
    </form>
    
    <br />
  </div>
  
  <div>
    <table class="table table-bordered table-hover">
    <thead>
    <tr>
    <th></th>
    <th style="vertical-align: middle; text-align: center;">Number</th>
    <th style="min-width: 155px; vertical-align: middle; text-align: center;"><a href="?{% url_replace_sort request 'sga_id' %}#results">SGA ID</a></th>
    <th style="vertical-align: middle; text-align: center;"><a href="?{% url_replace_sort request 'group_name' %}#results">Group Name</a></th>
    <th style="vertical-align: middle; text-align: center;"><a href="?{% url_replace_sort request 'galaxy' %}#results">Galaxy</a></th>
    <th style="vertical-align: middle; text-align: center;"><a href="?{% url_replace_sort request 'ra' %}#results">RA<br />(degrees)</a></th>
    <th style="vertical-align: middle; text-align: center;"><a href="?{% url_replace_sort request 'dec' %}#results">Dec<br />(degrees)</a></th>
    <th style="vertical-align: middle; text-align: center;"><a href="?{% url_replace_sort request 'd26' %}#results">Galaxy Diameter<br />(arcmin)</a></th>
    </tr>
    </thead>
    
    <tbody>
      {% for sam in page %}
      <tr>
          <td style="vertical-align: middle; text-align: center;"><a href="{{ sam.png_base_url }}{{ sam.group_name }}-largegalaxy-grz-montage.png"><img src="{{ sam.png_base_url }}thumb2-{{sam.group_name}}-largegalaxy-grz-montage.png" alt="{{ sam.png_base_url }}thumb2-{{sam.group_name}}-largegalaxy-grz-montage.png"></a></td>
          <td style="vertical-align: middle; text-align: center;">{{ forloop.counter0|add:page.start_index }}</td>
          <td style="vertical-align: middle; text-align: center;">{{ sam.sga_id_string }}</td>
          <td style="vertical-align: middle;"><a href="{% url 'group' sam.group_name %}?index={{forloop.counter0|add:page.start_index}}" target="_blank">{{ sam.group_name }}</a></td>
          <td style="vertical-align: middle;">{{ sam.galaxy }}</td>
          <td style="vertical-align: middle; text-align: center;">{{ sam.ra|floatformat:7 }}</td>
          <td style="vertical-align: middle; text-align: center;">{{ sam.dec|floatformat:6 }}</td>
          <td style="vertical-align: middle; text-align: center;">{{ sam.d26|floatformat:3 }}</td>
    {% endfor %}
    </tbody>
    </table>
  </div>
  
  <div style="text-align:center; padding: 10px;">
      <span class="step-links">
          {% if page.has_previous %}
              <a href="?{% url_replace request 'page' 1 %}">&laquo; first</a>
              <a href="?{% url_replace request 'page' page.previous_page_number %}">previous</a>
          {% endif %}
  
          <span class="current">
              Page {{ page.number }} of {{ page.paginator.num_pages }}
          </span>
  
          {% if page.has_next %}
              <a href="?{% url_replace request 'page' page.next_page_number %}#results">next</a>
              <a href="?{% url_replace request 'page' paginator.num_pages %}#results">last &raquo;</a>
          {% endif %}
      </span>
  </div>
  
  <br /><br />
</div>
</div>

{% endblock %}
