{% extends "base.html" %}

{% block content %}

{% comment %}
<style type="text/css">
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th { background-color: blue; }
</style>

<style type="text/css">
.top-crop { max-height: 620px; overflow: hidden; }
.cropped {
    width: 752px; /* width of container */
    height: 300px; /* height of container */
    overflow: hidden;
}
</style>
{% endcomment %}

<style type="text/css">
td, th {text-align: center}
#topmargin-fiddle1 { margin-top: -25px; }
#topmargin-fiddle2 { margin-top: 0px; }
</style>

{% if result_index > -1 %}
<br />
<form style="display:inline;" action="{% url 'index' %}#query"><button>Home</button></form> 
<form style="display:inline;" action="{% url 'target-prev' result_index %}"><button{% if not has_prev %} disabled{% endif %}>Previous</button></form> 
<form style="display:inline;" action="{% url 'target-next' result_index %}"><button{% if not has_next %} disabled{% endif %}>Next</button></form> 
<br />
{% endif %}

<br />
<h2>
DESI {{ target.survey }}/{{ target.program }}/{{ target.str_targetid }}
</h2>
<h5>
  <a href="https://www.legacysurvey.org/viewer-desi/?ra={{ target.ra }}&dec={{ target.dec }}&zoom=15&layer=ls-dr9&targets-dr9-{{ target.survey }}-{{ target.program }}" target="_blank">Sky Viewer</a>
</h5>
<h5>
  <a href="{{ target.data_base_url }}">Healpix FITS Catalog</a>
</h5>
<br />

<!--
<a href="https://www.legacysurvey.org/viewer/jpeg-cutout?ra={{ target.ra }}&dec={{ target.dec}}&zoom=15&layer=ls-dr9"><img class="img-responsive" width="10%" src="https://www.legacysurvey.org/viewer/jpeg-cutout?ra={{ target.ra }}&dec={{ target.dec}}&zoom=15&layer=ls-dr9"></a>
-->

<table class="table table-bordered">
  <tr>
    <!--
    <td><a href="{{ target.png_base_url }}/fastfit-80613-cumulative-{{ target.str_targetid }}.png">
    <div class="top-crop">
      <img class="img-responsive" width="100%" src="{{ target.png_base_url }}/fastfit-80613-cumulative-{{ target.str_targetid }}.png" alt="Missing file fastspec-{{ target.survey }}-{{ target.program }}-{{ target.str_healpix }}-{{ target.str_targetid }}.png">
    </div>
    -->
    <td><a href="{{ target.png_base_url }}/fastspec-{{ target.survey }}-{{ target.program }}-{{ target.str_healpix }}-{{ target.str_targetid }}.png">
    <div class="top-crop">
      <img class="img-responsive" width="100%" src="{{ target.png_base_url }}/fastspec-{{ target.survey }}-{{ target.program }}-{{ target.str_healpix }}-{{ target.str_targetid }}.png" alt="Missing file fastspec-{{ target.survey }}-{{ target.program }}-{{ target.str_healpix }}-{{ target.str_targetid }}.png">
    </div>
    </a></td>
  </tr> 
</table>
<br />

{% comment %}
<h4><a href="{{ target.data_base_url }}">Fitting Catalogs</a></h4>
{% endcomment %}

<h3>Target Properties</h3>
<br />

<table class="table table-bordered table-hover">
  <thead class="alert alert-info">
    <tr>
      <th colspan="8"></th>
      <th colspan="4">{{ target.survey|upper }} Targeting Bits</th>
    </tr>
    <tr>
      <th>Survey</th>
      <th>Program</th>
      <th>TileIDs</th>
      <th>TargetID</th>
      <th>Healpixel</th>
      <th>E(B-V)</th>
      <th>RA<br />(degree)</th>
      <th>Dec<br />(degree)</th>
      <th>DESI</th>
      <th>BGS</th>
      <th>MWS</th>
      <th>Secondary</th>
    </tr>
  </thead>
  <tr>
    <td>{{ target.survey|upper }}</td>
    <td>{{ target.program|upper }}</td>
    <td>{{ target.tileid_list }}</td>
    <td>{{ target.targetid }}</td>
    <td>{{ target.healpix }}</td>
    <td>{{ target.ebv|floatformat:3 }}</td>
    <td>{{ target.ra|floatformat:7 }}</td>
    <td>{{ target.dec|floatformat:6 }}</td>
    {% if target.survey == 'sv1' %}
      <td>{{ target.sv1_desi_target }}</td>
      <td>{{ target.sv1_bgs_target }}</td>
      <td>{{ target.sv1_mws_target }}</td>
      <td>{{ target.sv1_scnd_target }}</td>
    {% endif %}    
    {% if target.survey == 'sv2' %}
      <td>{{ target.sv2_desi_target }}</td>
      <td>{{ target.sv2_bgs_target }}</td>
      <td>{{ target.sv2_mws_target }}</td>
      <td>{{ target.sv2_scnd_target }}</td>
    {% endif %}    
    {% if target.survey == 'sv3' %}
      <td>{{ target.sv3_desi_target }}</td>
      <td>{{ target.sv3_bgs_target }}</td>
      <td>{{ target.sv3_mws_target }}</td>
      <td>{{ target.sv3_scnd_target }}</td>
    {% endif %}    
    {% if target.survey == 'main' %}
      <td>{{ target.desi_target }}</td>
      <td>{{ target.bgs_target }}</td>
      <td>{{ target.mws_target }}</td>
      <td>{{ target.scnd_target }}</td>
    {% endif %}    
  </tr>
</table><br />

<div class="panel panel-primary accordion"> <!-- Panel (collapasable) -->
    <div class="panel-heading"> <!-- Panel head -->
        <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapseTarget">
          <button type="submit" class="btn btn-primary" style="margin-top:15px;">Additional Targeting Information</button>
        </a>           
    </div> <!-- END Panel head -->
    <br /><br />
    <div id="collapseTarget" class="panel-collapse collapse in"> <!-- Collapsable section -->
        <div class="panel-body"> <!-- Panel body -->
          <table class="table table-bordered table-hover">
            <tr>
              <th></th>
              <th>{{ target.survey|upper }} Targeting Bit Names</th>
            </tr>
            <tr>
              <td>DESI</td>
              <td>{{ target.desi_bitnames }}</td>
            </tr>
            <tr>
              <td>BGS</td>
              <td>{{ target.bgs_bitnames }}</td>
            </tr>
            <tr>
              <td>MWS</td>
              <td>{{ target.mws_bitnames }}</td>
            </tr>
            <tr>
              <td>Secondary</td>
              <td>{{ target.scnd_bitnames }}</td>
            </tr>
          </table><br />
        </div> <!-- END Panel body -->
    </div> <!-- END Collapse section -->
</div> <!-- end accordian div -->

<h3>Redshift and Photometry</h3><br />
<p id="topmargin-fiddle1">Note: if z and z<sub>Redrock</sub> differ then the primary
  redshift z comes from QuasarNet.</p>

<h6>Redrock</h6>
<table class="table table-bordered table-hover">
  <thead class="alert alert-info">
    <tr>
      <th>z</th>
      <th>z<sub>Redrock</sub></th>
      <th>z<sub>warn</sub></th>
      <th>&#916;&#967;<sup>2</sup></th> <!-- Delta-chi^2 -->
      <th>SpecType</th>
    </tr>
  </thead>
  <tr>
    <td>{{ target.z|floatformat:8 }}</td>
    <td>{{ target.zredrock|floatformat:8 }}</td>
    <td>{{ target.zwarn }}</td>
    <td>{{ target.deltachi2|floatformat:3 }}</td>
    <td>{{ target.spectype }}</td>
  </tr>
</table>

<h6>Legacy Imaging Surveys (Photometric System: {{ target.photsys }})</h6>
<p id="topmargin-fiddle2">Note: all photometry has been corrected for Galactic extinction.</p>

<table class="table table-bordered table-hover">
  <thead class="alert alert-info">
    <tr>
      <!--<th>AB mag<br />(extinction<br />corrected)</th>-->
      <th>AB mag</th>
      <th>g</th>
      <th>r</th>
      <th>z</th>
      <th>W1</th>
      <th>W2</th>
      <th>W3</th>
      <th>W4</th>
    </tr>
  </thead>
  <tr>
    <td>Total</td>
    <td>{{ target.abmag_g }}{{ target.abmag_err_g|safe }}</td> <!--https://stackoverflow.com/questions/12521567/prevent-from-being-converted-to-amp-in-jinja -->
    <td>{{ target.abmag_r }}{{ target.abmag_err_r|safe }}</td>
    <td>{{ target.abmag_z }}{{ target.abmag_err_z|safe }}</td>
    <td>{{ target.abmag_w1 }}{{ target.abmag_err_w1|safe }}</td>
    <td>{{ target.abmag_w2 }}{{ target.abmag_err_w2|safe }}</td>
    <td>{{ target.abmag_w3 }}{{ target.abmag_err_w3|safe }}</td>
    <td>{{ target.abmag_w4 }}{{ target.abmag_err_w4|safe }}</td>
  </tr>
  <tr>
    <td>Fiber</td>
    <td>{{ target.fiberabmag_g|safe }}</td>
    <td>{{ target.fiberabmag_r|safe }}</td>
    <td>{{ target.fiberabmag_z|safe }}</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>FiberTot</td>
    <td>{{ target.fibertotabmag_g|safe }}</td>
    <td>{{ target.fibertotabmag_r|safe }}</td>
    <td>{{ target.fibertotabmag_z|safe }}</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
  </tr>
</table>
<br />

<h3>Stellar Continuum Modeling</h3><br />

<h6>Spectral Properties</h6>
<table class="table table-bordered table-hover">
  <thead class="alert alert-info">
    <tr>
      <th colspan="3">Median S/N (pixel<sup>-1</sup>)</th>
      <th colspan="3"></th>
    </tr>
    <tr>
      <th>b camera</th>
      <th>r camera</th>
      <th>z camera</th>
      <th>&sigma;<br />(km/s)</th>
      <th>D<sub>n</sub>(4000)<br />(data)</th>
      <th>D<sub>n</sub>(4000)<br />(model)</th>
    </tr>
  </thead>
  <tr>
    <td>{{ target.continuum_snr_b|floatformat:1 }}</td>
    <td>{{ target.continuum_snr_r|floatformat:1 }}</td>
    <td>{{ target.continuum_snr_z|floatformat:1 }}</td>
    {% if target.vdisp_ivar > 0 %}
      <td>{{ target.vdisp|floatformat:0 }}{{ target.vdisp_err|safe }}</td>
    {% else %}
      <td>{{ target.vdisp|floatformat:0 }}</td>
    {% endif %}
    <td>{{ target.dn4000|floatformat:3 }}</td>
    <td>{{ target.dn4000_model|floatformat:3 }}</td>
  </tr>
</table>
<br />

<h6>Physical Properties</h6>
<table class="table table-bordered table-hover">
  <thead class="alert alert-info">
    <tr>
      <th>&#967;<sup>2</sup></th> <!-- chi^2 -->
      <th>A<sub>V</sub><br />(mag)</th>
      <th><Age><br />(Gyr)</th>
      <th>Mstar<br />(Msun)</th>
      <th>SFR<br />(Msun/yr)</th>
      <th>Z/Zsun</th>
      <th>fagn</th>
    </tr>
  </thead>
  <tr>
    <td>{{ target.continuum_rchi2|floatformat:3 }}</td>
    <td>{{ target.av|floatformat:2 }}</td>
    <td>{{ target.age|floatformat:3 }}</td>
    <td>{{ target.logmstar|floatformat:3 }}</td>
    <td>{{ target.sfr|floatformat:3 }}</td>
    <td>{{ target.zzsun|floatformat:3 }}</td>
    <td>{{ target.fagn|floatformat:3 }}</td>
  </tr>
</table>
<br />

<h6>Synthesized Photometry (Photometric System: {{ target.photsys }})</h6>
<p id="topmargin-fiddle2">Note: all photometry has been corrected for Galactic extinction.</p>
<table class="table table-bordered table-hover">
  <thead class="alert alert-info">
    <tr>
      <th>AB mag</th>
      <th>g</th>
      <th>r</th>
      <th>z</th>
    </tr>
  </thead>
  <tr>
    <td>Data</td>
    <td>{{ target.abmag_synth_g|safe }}</td>
    <td>{{ target.abmag_synth_r|safe }}</td>
    <td>{{ target.abmag_synth_z|safe }}</td>
  </tr>
  <tr>
    <td>Model</td>
    <td>{{ target.abmag_synth_model_g|safe }}</td>
    <td>{{ target.abmag_synth_model_r|safe }}</td>
    <td>{{ target.abmag_synth_model_z|safe }}</td>
  </tr>
</table>
<br />

<h6>Legacy Imaging Surveys (Photometric System: {{ target.photsys }})</h6>
<p id="topmargin-fiddle2">Note: all photometry has been corrected for Galactic extinction.</p>
<table class="table table-bordered table-hover">
  <thead class="alert alert-info">
    <tr>
      <th>AB mag</th>
      <th>g</th>
      <th>r</th>
      <th>z</th>
      <th>W1</th>
      <th>W2</th>
      <th>W3</th>
      <th>W4</th>
    </tr>
  </thead>
  <tr>
    <td>Data</td>
    <td>{{ target.abmag_g }}{{ target.abmag_err_g|safe }}</td>
    <td>{{ target.abmag_r }}{{ target.abmag_err_r|safe }}</td>
    <td>{{ target.abmag_z }}{{ target.abmag_err_z|safe }}</td>
    <td>{{ target.abmag_w1 }}{{ target.abmag_err_w1|safe }}</td>
    <td>{{ target.abmag_w2 }}{{ target.abmag_err_w2|safe }}</td>
    <td>{{ target.abmag_w3 }}{{ target.abmag_err_w3|safe }}</td>
    <td>{{ target.abmag_w4 }}{{ target.abmag_err_w4|safe }}</td>
  </tr>
  <tr>
    <td>Model</td>
    <td>{{ target.abmag_synth_model_g }}</td>
    <td>{{ target.abmag_synth_model_r }}</td>
    <td>{{ target.abmag_synth_model_z }}</td>
    <td>{{ target.abmag_synth_model_w1 }}</td>
    <td>{{ target.abmag_synth_model_w2 }}</td>
    <td>{{ target.abmag_synth_model_w3 }}</td>
    <td>{{ target.abmag_synth_model_w4 }}</td>
  </tr>
</table>
<br />

<h6>K-corrections & Absolute Magnitudes</h6>
<table class="table table-bordered table-hover">
  <thead class="alert alert-info">
    <tr>
      <th></th>
      <th colspan="5">SDSS</th>
      <th colspan="3">Johnson-Morgan</th>
      <th colspan="2">WISE</th>
    </tr>
    <tr>
      <th>AB mag</th>
      <th><sup>0.1</sup>u</th>
      <th><sup>0.1</sup>g</th>
      <th><sup>0.1</sup>r</th>
      <th><sup>0.1</sup>i</th>
      <th><sup>0.1</sup>z</th>
      <th><sup>0.0</sup>U</th>
      <th><sup>0.0</sup>B</th>
      <th><sup>0.0</sup>V</th>
      <th><sup>0.0</sup>W1</th>
      <th><sup>0.0</sup>W2</th>
    </tr>
  </thead>
  <tr>
    <td>M<sub>abs</sub></td>
    <td>{{ target.absmag_sdss_u|floatformat:3 }}</td>
    <td>{{ target.absmag_sdss_g|floatformat:3 }}</td>
    <td>{{ target.absmag_sdss_r|floatformat:3 }}</td>
    <td>{{ target.absmag_sdss_i|floatformat:3 }}</td>
    <td>{{ target.absmag_sdss_z|floatformat:3 }}</td>
    <td>{{ target.absmag_u|floatformat:3 }}</td>
    <td>{{ target.absmag_b|floatformat:3 }}</td>
    <td>{{ target.absmag_v|floatformat:3 }}</td>
    <td>{{ target.absmag_w1|floatformat:3 }}</td>
    <td>{{ target.absmag_w2|floatformat:3 }}</td>
  </tr>
  <tr>
    <td>K<sub>corr</sub></td>
    <td>{{ target.kcorr_sdss_u|floatformat:3 }}</td>
    <td>{{ target.kcorr_sdss_g|floatformat:3 }}</td>
    <td>{{ target.kcorr_sdss_r|floatformat:3 }}</td>
    <td>{{ target.kcorr_sdss_i|floatformat:3 }}</td>
    <td>{{ target.kcorr_sdss_z|floatformat:3 }}</td>
    <td>{{ target.kcorr_u|floatformat:3 }}</td>
    <td>{{ target.kcorr_b|floatformat:3 }}</td>
    <td>{{ target.kcorr_v|floatformat:3 }}</td>
    <td>{{ target.kcorr_w1|floatformat:3 }}</td>
    <td>{{ target.kcorr_w2|floatformat:3 }}</td>
  </tr>
</table>
<br />

{% comment %}
<table class="table table-bordered">
  <tr>
    <td><a href="{{ target.png_base_url }}/fastspec-{{ target.survey }}-{{ target.program }}-{{ target.str_healpix }}-{{ target.str_targetid }}.png">
    <div class="top-crop">
      <img class="img-responsive" width="100%" src="{{ target.png_base_url }}/fastspec-{{ target.survey }}-{{ target.program }}-{{ target.str_healpix }}-{{ target.str_targetid }}.png" alt="Missing file fastspec-{{ target.survey }}-{{ target.program }}-{{ target.str_healpix }}-{{ target.str_targetid }}.png">
    </div>
    </a></td>
  </tr> 
</table>
<br />
{% endcomment %}

<h3>Emission-line Modeling</h3><br />

<h6>Average Line-Properties</h6>
<table class="table table-bordered table-hover">
  <thead class="alert alert-info">
    <tr>
      <th colspan="2">UV / QSO</th>
      <th colspan="2">Broad H & He</th>
      <th colspan="2">Narrow H, He, & Forbidden</th>
      <th colspan="3">Doublet Ratios</th>
    </tr>
    <tr>
      <th>z</th>
      <th>&sigma;<br />(km/s)</th>
      <th>z</th>
      <th>&sigma;<br />(km/s)</th>
      <th>z</th>
      <th>&sigma;<br />(km/s)</th>
      <th>Mg II<br />&lambda;2796/&lambda;2803</th>
      <th>[OII]<br />&lambda;3726/&lambda;3729</th>
      <th>[SII]<br />&lambda;6731/&lambda;6716</th>
    </tr>
  </thead>
  <tr>
    <td>{{ target.uv_z|floatformat:8 }}</td>
    <td>{{ target.uv_sigma|floatformat:2 }}</td>
    <td>{{ target.broad_z|floatformat:8 }}</td>
    <td>{{ target.broad_sigma|floatformat:2 }}</td>
    <td>{{ target.narrow_z|floatformat:8 }}</td>
    <td>{{ target.narrow_sigma|floatformat:2 }}</td>
    <td>{{ target.mgii_doublet_ratio|floatformat:3 }}</td>
    <td>{{ target.oii_doublet_ratio|floatformat:3 }}</td>
    <td>{{ target.sii_doublet_ratio|floatformat:3 }}</td>
  </tr>
</table>
<br />

<h6>Detailed Line-Properties</h6>

<div class="panel panel-primary accordion"> <!-- Panel (collapasable) -->
    <div class="panel-heading"> <!-- Panel head -->
        <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapseUVQSO">
          <button type="submit" class="btn btn-primary" style="margin-top:15px;">UV / QSO Emission Lines</button>
        </a>           
    </div> <!-- END Panel head -->
    <br /><br />
    <div id="collapseUVQSO" class="panel-collapse collapse in"> <!-- Collapsable section -->
        <div class="panel-body"> <!-- Panel body -->
          <table class="table table-bordered table-hover">
            <thead class="alert alert-info">
              <tr>
                <th>Line</th>
                <th>S/N</th>
                <th>&#916;v<br />(km/s)</th>
                <th>&sigma;<br />(km/s)</th>
                <th>Amplitude<br />(10<sup>-17</sup>erg s<sup>-1</sup> cm<sup>-2</sup>&#8491;<sup>-1</sup>)</th>
                <th>Flux<br />(10<sup>-17</sup>erg s<sup>-1</sup> cm<sup>-2</sup>)</th>
                <th>Continuum<br />(10<sup>-17</sup>erg s<sup>-1</sup> cm<sup>-2</sup>&#8491;<sup>-1</sup>)</th>
                <th>EW<br />(&#8491;)</th>
                <th>&#967;<sup>2</sup></th> <!-- chi^2 -->
                <th>Npix</th>
              </tr>
            </thead>
            <tr>
              <td>O I &lambda;1304</td>
              <td>{{ target.oi_1304_snr|floatformat:2 }}</td>
              <td>{{ target.oi_1304_vshift|floatformat:2 }}</td>
              <td>{{ target.oi_1304_sigma|floatformat:2 }}</td>
              <td>{{ target.oi_1304_amp|floatformat:3 }}{{ target.oi_1304_amp_err|safe }}</td>
              <td>{{ target.oi_1304_flux|floatformat:3 }}{{ target.oi_1304_flux_err|safe }}</td>
              <td>{{ target.oi_1304_cont|floatformat:3 }}{{ target.oi_1304_cont_err|safe }}</td>
              <td>{{ target.oi_1304_ew|floatformat:2 }}{{ target.oi_1304_ew_err|safe }}</td>
              <td>{{ target.oi_1304_chi2|floatformat:3 }}</td>
              <td>{{ target.oi_1304_npix }}</td>
            </tr>
            <tr>
              <td>Si IV &lambda;1396</td>
              <td>{{ target.siliv_1396_snr|floatformat:2 }}</td>
              <td>{{ target.siliv_1396_vshift|floatformat:2 }}</td>
              <td>{{ target.siliv_1396_sigma|floatformat:2 }}</td>
              <td>{{ target.siliv_1396_amp|floatformat:3 }}{{ target.siliv_1396_amp_err|safe }}</td>
              <td>{{ target.siliv_1396_flux|floatformat:3 }}{{ target.siliv_1396_flux_err|safe }}</td>
              <td>{{ target.siliv_1396_cont|floatformat:3 }}{{ target.siliv_1396_cont_err|safe }}</td>
              <td>{{ target.siliv_1396_ew|floatformat:2 }}{{ target.siliv_1396_ew_err|safe }}</td>
              <td>{{ target.siliv_1396_chi2|floatformat:3 }}</td>
              <td>{{ target.siliv_1396_npix }}</td>
            </tr>
            <tr>
              <td>C IV &lambda;1549</td>
              <td>{{ target.civ_1549_snr|floatformat:2 }}</td>
              <td>{{ target.civ_1549_vshift|floatformat:2 }}</td>
              <td>{{ target.civ_1549_sigma|floatformat:2 }}</td>
              <td>{{ target.civ_1549_amp|floatformat:3 }}{{ target.civ_1549_amp_err|safe }}</td>
              <td>{{ target.civ_1549_flux|floatformat:3 }}{{ target.civ_1549_flux_err|safe }}</td>
              <td>{{ target.civ_1549_cont|floatformat:3 }}{{ target.civ_1549_cont_err|safe }}</td>
              <td>{{ target.civ_1549_ew|floatformat:2 }}{{ target.civ_1549_ew_err|safe }}</td>
              <td>{{ target.civ_1549_chi2|floatformat:3 }}</td>
              <td>{{ target.civ_1549_npix }}</td>
            </tr>
            <tr>
              <td>Si III] &lambda;1892</td>
              <td>{{ target.siliii_1892_snr|floatformat:2 }}</td>
              <td>{{ target.siliii_1892_vshift|floatformat:2 }}</td>
              <td>{{ target.siliii_1892_sigma|floatformat:2 }}</td>
              <td>{{ target.siliii_1892_amp|floatformat:3 }}{{ target.siliii_1892_amp_err|safe }}</td>
              <td>{{ target.siliii_1892_flux|floatformat:3 }}{{ target.siliii_1892_flux_err|safe }}</td>
              <td>{{ target.siliii_1892_cont|floatformat:3 }}{{ target.siliii_1892_cont_err|safe }}</td>
              <td>{{ target.siliii_1892_ew|floatformat:2 }}{{ target.siliii_1892_ew_err|safe }}</td>
              <td>{{ target.siliii_1892_chi2|floatformat:3 }}</td>
              <td>{{ target.siliii_1892_npix }}</td>
            </tr>
            <tr>
              <td>C III] &lambda;1908</td>
              <td>{{ target.ciii_1908_snr|floatformat:2 }}</td>
              <td>{{ target.ciii_1908_vshift|floatformat:2 }}</td>
              <td>{{ target.ciii_1908_sigma|floatformat:2 }}</td>
              <td>{{ target.ciii_1908_amp|floatformat:3 }}{{ target.ciii_1908_amp_err|safe }}</td>
              <td>{{ target.ciii_1908_flux|floatformat:3 }}{{ target.ciii_1908_flux_err|safe }}</td>
              <td>{{ target.ciii_1908_cont|floatformat:3 }}{{ target.ciii_1908_cont_err|safe }}</td>
              <td>{{ target.ciii_1908_ew|floatformat:2 }}{{ target.ciii_1908_ew_err|safe }}</td>
              <td>{{ target.ciii_1908_chi2|floatformat:3 }}</td>
              <td>{{ target.ciii_1908_npix }}</td>
            </tr>
            <tr>
              {% comment %}
                {% if target.mgii_2796_amp_ivar > 0 %}
                {% else %}
                {% endif %}
              {% endcomment %}
              <td>Mg II &lambda;2796</td>
              <td>{{ target.mgii_2796_snr|floatformat:2 }}</td>
              <td>{{ target.mgii_2796_vshift|floatformat:2 }}</td>
              <td>{{ target.mgii_2796_sigma|floatformat:2 }}</td>
              <td>{{ target.mgii_2796_amp|floatformat:3 }}{{ target.mgii_2796_amp_err|safe }}</td>
              <td>{{ target.mgii_2796_flux|floatformat:3 }}{{ target.mgii_2796_flux_err|safe }}</td>
              <td>{{ target.mgii_2796_cont|floatformat:3 }}{{ target.mgii_2796_cont_err|safe }}</td>
              <td>{{ target.mgii_2796_ew|floatformat:2 }}{{ target.mgii_2796_ew_err|safe }}</td>
              <td>{{ target.mgii_2796_chi2|floatformat:3 }}</td>
              <td>{{ target.mgii_2796_npix }}</td>
            </tr>
            <tr>
              <td>Mg II &lambda;2803</td>
              <td>{{ target.mgii_2803_snr|floatformat:2 }}</td>
              <td>{{ target.mgii_2803_vshift|floatformat:2 }}</td>
              <td>{{ target.mgii_2803_sigma|floatformat:2 }}</td>
              <td>{{ target.mgii_2803_amp|floatformat:3 }}{{ target.mgii_2803_amp_err|safe }}</td>
              <td>{{ target.mgii_2803_flux|floatformat:3 }}{{ target.mgii_2803_flux_err|safe }}</td>
              <td>{{ target.mgii_2803_cont|floatformat:3 }}{{ target.mgii_2803_cont_err|safe }}</td>
              <td>{{ target.mgii_2803_ew|floatformat:2 }}{{ target.mgii_2803_ew_err|safe }}</td>
              <td>{{ target.mgii_2803_chi2|floatformat:3 }}</td>
              <td>{{ target.mgii_2803_npix }}</td>
            </tr>
          </table>
        </div> <!-- END Panel body -->
    </div> <!-- END Collapse section -->
</div> <!-- end accordian div -->
          
<div class="panel panel-primary accordion"> <!-- Panel (collapasable) -->
    <div class="panel-heading"> <!-- Panel head -->
        <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapseForbid">
          <button type="submit" class="btn btn-primary" style="margin-top:15px;">Forbidden and Narrow H & He Lines</button>
        </a>           
    </div> <!-- END Panel head -->
    <br /><br />
    <div id="collapseForbid" class="panel-collapse collapse in"> <!-- Collapsable section -->
        <div class="panel-body"> <!-- Panel body -->
          <table class="table table-bordered table-hover">
            <thead class="alert alert-info">
              <tr>
                <th>Line</th>
                <th>S/N</th>
                <th>&#916;v<br />(km/s)</th>
                <th>&sigma;<br />(km/s)</th>
                <th>Amplitude<br />(10<sup>-17</sup>erg s<sup>-1</sup> cm<sup>-2</sup>&#8491;<sup>-1</sup>)</th>
                <th>Flux<br />(10<sup>-17</sup>erg s<sup>-1</sup> cm<sup>-2</sup>)</th>
                <th>Continuum<br />(10<sup>-17</sup>erg s<sup>-1</sup> cm<sup>-2</sup>&#8491;<sup>-1</sup>)</th>
                <th>EW<br />(&#8491;)</th>
                <th>&#967;<sup>2</sup></th> <!-- chi^2 -->
                <th>Npix</th>
              </tr>
            </thead>
            <tr>
              <td>[Ne V] &lambda;3346</td>
              <td>{{ target.nev_3346_snr|floatformat:2 }}</td>
              <td>{{ target.nev_3346_vshift|floatformat:2 }}</td>
              <td>{{ target.nev_3346_sigma|floatformat:2 }}</td>
              <td>{{ target.nev_3346_amp|floatformat:3 }} {{ target.nev_3346_amp_err|safe }}</td>
              <td>{{ target.nev_3346_flux|floatformat:3 }}{{ target.nev_3346_flux_err|safe }}</td>
              <td>{{ target.nev_3346_cont|floatformat:3 }}{{ target.nev_3346_cont_err|safe }}</td>
              <td>{{ target.nev_3346_ew|floatformat:2 }}  {{ target.nev_3346_ew_err|safe }}</td>
              <td>{{ target.nev_3346_chi2|floatformat:3 }}</td>
              <td>{{ target.nev_3346_npix }}</td>
            </tr>
            <tr>
              <td>[Ne V] &lambda;3426</td>
              <td>{{ target.nev_3426_snr|floatformat:2 }}</td>
              <td>{{ target.nev_3426_vshift|floatformat:2 }}</td>
              <td>{{ target.nev_3426_sigma|floatformat:2 }}</td>
              <td>{{ target.nev_3426_amp|floatformat:3 }} {{ target.nev_3426_amp_err|safe }}</td>
              <td>{{ target.nev_3426_flux|floatformat:3 }}{{ target.nev_3426_flux_err|safe }}</td>
              <td>{{ target.nev_3426_cont|floatformat:3 }}{{ target.nev_3426_cont_err|safe }}</td>
              <td>{{ target.nev_3426_ew|floatformat:2 }}  {{ target.nev_3426_ew_err|safe }}</td>
              <td>{{ target.nev_3426_chi2|floatformat:3 }}</td>
              <td>{{ target.nev_3426_npix }}</td>
            </tr>
            <tr>
              <td>[O II] &lambda;3726</td>
              <td>{{ target.oii_3726_snr|floatformat:2 }}</td>
              <td>{{ target.oii_3726_vshift|floatformat:2 }}</td>
              <td>{{ target.oii_3726_sigma|floatformat:2 }}</td>
              <td>{{ target.oii_3726_amp|floatformat:3 }} {{ target.oii_3726_amp_err|safe }}</td>
              <td>{{ target.oii_3726_flux|floatformat:3 }}{{ target.oii_3726_flux_err|safe }}</td>
              <td>{{ target.oii_3726_cont|floatformat:3 }}{{ target.oii_3726_cont_err|safe }}</td>
              <td>{{ target.oii_3726_ew|floatformat:2 }}  {{ target.oii_3726_ew_err|safe }}</td>
              <td>{{ target.oii_3726_chi2|floatformat:3 }}</td>
              <td>{{ target.oii_3726_npix }}</td>
            </tr>
            <tr>
              <td>[O II] &lambda;3729</td>
              <td>{{ target.oii_3729_snr|floatformat:2 }}</td>
              <td>{{ target.oii_3729_vshift|floatformat:2 }}</td>
              <td>{{ target.oii_3729_sigma|floatformat:2 }}</td>
              <td>{{ target.oii_3729_amp|floatformat:3 }} {{ target.oii_3729_amp_err|safe }}</td>
              <td>{{ target.oii_3729_flux|floatformat:3 }}{{ target.oii_3729_flux_err|safe }}</td>
              <td>{{ target.oii_3729_cont|floatformat:3 }}{{ target.oii_3729_cont_err|safe }}</td>
              <td>{{ target.oii_3729_ew|floatformat:2 }}  {{ target.oii_3729_ew_err|safe }}</td>
              <td>{{ target.oii_3729_chi2|floatformat:3 }}</td>
              <td>{{ target.oii_3729_npix }}</td>
            </tr>
            <tr>
              <td>[Ne III] &lambda;3869</td>
              <td>{{ target.neiii_3869_snr|floatformat:2 }}</td>
              <td>{{ target.neiii_3869_vshift|floatformat:2 }}</td>
              <td>{{ target.neiii_3869_sigma|floatformat:2 }}</td>
              <td>{{ target.neiii_3869_amp|floatformat:3 }} {{ target.neiii_3869_amp_err|safe }}</td>
              <td>{{ target.neiii_3869_flux|floatformat:3 }}{{ target.neiii_3869_flux_err|safe }}</td>
              <td>{{ target.neiii_3869_cont|floatformat:3 }}{{ target.neiii_3869_cont_err|safe }}</td>
              <td>{{ target.neiii_3869_ew|floatformat:2 }}  {{ target.neiii_3869_ew_err|safe }}</td>
              <td>{{ target.neiii_3869_chi2|floatformat:3 }}</td>
              <td>{{ target.neiii_3869_npix }}</td>
            </tr>
            <!--
            <tr>
              <td>He I &lambda;3889 (narrow)</td>
              <td>{{ target.hei_3889_snr|floatformat:2 }}</td>
              <td>{{ target.hei_3889_vshift|floatformat:2 }}</td>
              <td>{{ target.hei_3889_sigma|floatformat:2 }}</td>
              <td>{{ target.hei_3889_amp|floatformat:3 }} {{ target.hei_3889_amp_err|safe }}</td>
              <td>{{ target.hei_3889_flux|floatformat:3 }}{{ target.hei_3889_flux_err|safe }}</td>
              <td>{{ target.hei_3889_cont|floatformat:3 }}{{ target.hei_3889_cont_err|safe }}</td>
              <td>{{ target.hei_3889_ew|floatformat:2 }}  {{ target.hei_3889_ew_err|safe }}</td>
              <td>{{ target.hei_3889_chi2|floatformat:3 }}</td>
              <td>{{ target.hei_3889_npix }}</td>
            </tr>
            -->
            <tr>
              <td>H6 (narrow)</td>
              <td>{{ target.h6_snr|floatformat:2 }}</td>
              <td>{{ target.h6_vshift|floatformat:2 }}</td>
              <td>{{ target.h6_sigma|floatformat:2 }}</td>
              <td>{{ target.h6_amp|floatformat:3 }} {{ target.h6_amp_err|safe }}</td>
              <td>{{ target.h6_flux|floatformat:3 }}{{ target.h6_flux_err|safe }}</td>
              <td>{{ target.h6_cont|floatformat:3 }}{{ target.h6_cont_err|safe }}</td>
              <td>{{ target.h6_ew|floatformat:2 }}  {{ target.h6_ew_err|safe }}</td>
              <td>{{ target.h6_chi2|floatformat:3 }}</td>
              <td>{{ target.h6_npix }}</td>
            </tr>
            <tr>
              <td>H&epsilon; (narrow)</td>
              <td>{{ target.hepsilon_snr|floatformat:2 }}</td>
              <td>{{ target.hepsilon_vshift|floatformat:2 }}</td>
              <td>{{ target.hepsilon_sigma|floatformat:2 }}</td>
              <td>{{ target.hepsilon_amp|floatformat:3 }} {{ target.hepsilon_amp_err|safe }}</td>
              <td>{{ target.hepsilon_flux|floatformat:3 }}{{ target.hepsilon_flux_err|safe }}</td>
              <td>{{ target.hepsilon_cont|floatformat:3 }}{{ target.hepsilon_cont_err|safe }}</td>
              <td>{{ target.hepsilon_ew|floatformat:2 }}  {{ target.hepsilon_ew_err|safe }}</td>
              <td>{{ target.hepsilon_chi2|floatformat:3 }}</td>
              <td>{{ target.hepsilon_npix }}</td>
            </tr>
            <tr>
              <td>H&delta; (narow)</td>
              <td>{{ target.hdelta_snr|floatformat:2 }}</td>
              <td>{{ target.hdelta_vshift|floatformat:2 }}</td>
              <td>{{ target.hdelta_sigma|floatformat:2 }}</td>
              <td>{{ target.hdelta_amp|floatformat:3 }} {{ target.hdelta_amp_err|safe }}</td>
              <td>{{ target.hdelta_flux|floatformat:3 }}{{ target.hdelta_flux_err|safe }}</td>
              <td>{{ target.hdelta_cont|floatformat:3 }}{{ target.hdelta_cont_err|safe }}</td>
              <td>{{ target.hdelta_ew|floatformat:2 }}  {{ target.hdelta_ew_err|safe }}</td>
              <td>{{ target.hdelta_chi2|floatformat:3 }}</td>
              <td>{{ target.hdelta_npix }}</td>
            </tr>
            <tr>
              <td>H&gamma; (narrow)</td>
              <td>{{ target.hgamma_snr|floatformat:2 }}</td>
              <td>{{ target.hgamma_vshift|floatformat:2 }}</td>
              <td>{{ target.hgamma_sigma|floatformat:2 }}</td>
              <td>{{ target.hgamma_amp|floatformat:3 }} {{ target.hgamma_amp_err|safe }}</td>
              <td>{{ target.hgamma_flux|floatformat:3 }}{{ target.hgamma_flux_err|safe }}</td>
              <td>{{ target.hgamma_cont|floatformat:3 }}{{ target.hgamma_cont_err|safe }}</td>
              <td>{{ target.hgamma_ew|floatformat:2 }}  {{ target.hgamma_ew_err|safe }}</td>
              <td>{{ target.hgamma_chi2|floatformat:3 }}</td>
              <td>{{ target.hgamma_npix }}</td>
            </tr>
            <tr>
              <td>[O III] &lambda;4363</td>
              <td>{{ target.oiii_4363_snr|floatformat:2 }}</td>
              <td>{{ target.oiii_4363_vshift|floatformat:2 }}</td>
              <td>{{ target.oiii_4363_sigma|floatformat:2 }}</td>
              <td>{{ target.oiii_4363_amp|floatformat:3 }} {{ target.oiii_4363_amp_err|safe }}</td>
              <td>{{ target.oiii_4363_flux|floatformat:3 }}{{ target.oiii_4363_flux_err|safe }}</td>
              <td>{{ target.oiii_4363_cont|floatformat:3 }}{{ target.oiii_4363_cont_err|safe }}</td>
              <td>{{ target.oiii_4363_ew|floatformat:2 }}  {{ target.oiii_4363_ew_err|safe }}</td>
              <td>{{ target.oiii_4363_chi2|floatformat:3 }}</td>
              <td>{{ target.oiii_4363_npix }}</td>
            </tr>
            <tr>
              <td>He I &lambda;4471 (narrow)</td>
              <td>{{ target.hei_4471_snr|floatformat:2 }}</td>
              <td>{{ target.hei_4471_vshift|floatformat:2 }}</td>
              <td>{{ target.hei_4471_sigma|floatformat:2 }}</td>
              <td>{{ target.hei_4471_amp|floatformat:3 }} {{ target.hei_4471_amp_err|safe }}</td>
              <td>{{ target.hei_4471_flux|floatformat:3 }}{{ target.hei_4471_flux_err|safe }}</td>
              <td>{{ target.hei_4471_cont|floatformat:3 }}{{ target.hei_4471_cont_err|safe }}</td>
              <td>{{ target.hei_4471_ew|floatformat:2 }}  {{ target.hei_4471_ew_err|safe }}</td>
              <td>{{ target.hei_4471_chi2|floatformat:3 }}</td>
              <td>{{ target.hei_4471_npix }}</td>
            </tr>
            <tr>
              <td>He II &lambda;4686 (narrow)</td>
              <td>{{ target.heii_4686_snr|floatformat:2 }}</td>
              <td>{{ target.heii_4686_vshift|floatformat:2 }}</td>
              <td>{{ target.heii_4686_sigma|floatformat:2 }}</td>
              <td>{{ target.heii_4686_amp|floatformat:3 }} {{ target.heii_4686_amp_err|safe }}</td>
              <td>{{ target.heii_4686_flux|floatformat:3 }}{{ target.heii_4686_flux_err|safe }}</td>
              <td>{{ target.heii_4686_cont|floatformat:3 }}{{ target.heii_4686_cont_err|safe }}</td>
              <td>{{ target.heii_4686_ew|floatformat:2 }}  {{ target.heii_4686_ew_err|safe }}</td>
              <td>{{ target.heii_4686_chi2|floatformat:3 }}</td>
              <td>{{ target.heii_4686_npix }}</td>
            </tr>
            <tr>
              <td>H&beta; (narrow)</td>
              <td>{{ target.hbeta_snr|floatformat:2 }}</td>
              <td>{{ target.hbeta_vshift|floatformat:2 }}</td>
              <td>{{ target.hbeta_sigma|floatformat:2 }}</td>
              <td>{{ target.hbeta_amp|floatformat:3 }} {{ target.hbeta_amp_err|safe }}</td>
              <td>{{ target.hbeta_flux|floatformat:3 }}{{ target.hbeta_flux_err|safe }}</td>
              <td>{{ target.hbeta_cont|floatformat:3 }}{{ target.hbeta_cont_err|safe }}</td>
              <td>{{ target.hbeta_ew|floatformat:2 }}  {{ target.hbeta_ew_err|safe }}</td>
              <td>{{ target.hbeta_chi2|floatformat:3 }}</td>
              <td>{{ target.hbeta_npix }}</td>
            </tr>
            <tr>
              <td>[O III] &lambda;4959</td>
              <td>{{ target.oiii_4959_snr|floatformat:2 }}</td>
              <td>{{ target.oiii_4959_vshift|floatformat:2 }}</td>
              <td>{{ target.oiii_4959_sigma|floatformat:2 }}</td>
              <td>{{ target.oiii_4959_amp|floatformat:3 }} {{ target.oiii_4959_amp_err|safe }}</td>
              <td>{{ target.oiii_4959_flux|floatformat:3 }}{{ target.oiii_4959_flux_err|safe }}</td>
              <td>{{ target.oiii_4959_cont|floatformat:3 }}{{ target.oiii_4959_cont_err|safe }}</td>
              <td>{{ target.oiii_4959_ew|floatformat:2 }}  {{ target.oiii_4959_ew_err|safe }}</td>
              <td>{{ target.oiii_4959_chi2|floatformat:3 }}</td>
              <td>{{ target.oiii_4959_npix }}</td>
            </tr>
            <tr>
              <td>[O III] &lambda;5007</td>
              <td>{{ target.oiii_5007_snr|floatformat:2 }}</td>
              <td>{{ target.oiii_5007_vshift|floatformat:2 }}</td>
              <td>{{ target.oiii_5007_sigma|floatformat:2 }}</td>
              <td>{{ target.oiii_5007_amp|floatformat:3 }} {{ target.oiii_5007_amp_err|safe }}</td>
              <td>{{ target.oiii_5007_flux|floatformat:3 }}{{ target.oiii_5007_flux_err|safe }}</td>
              <td>{{ target.oiii_5007_cont|floatformat:3 }}{{ target.oiii_5007_cont_err|safe }}</td>
              <td>{{ target.oiii_5007_ew|floatformat:2 }}  {{ target.oiii_5007_ew_err|safe }}</td>
              <td>{{ target.oiii_5007_chi2|floatformat:3 }}</td>
              <td>{{ target.oiii_5007_npix }}</td>
            </tr>
            <tr>
              <td>[N II] &lambda;5755</td>
              <td>{{ target.nii_5755_snr|floatformat:2 }}</td>
              <td>{{ target.nii_5755_vshift|floatformat:2 }}</td>
              <td>{{ target.nii_5755_sigma|floatformat:2 }}</td>
              <td>{{ target.nii_5755_amp|floatformat:3 }} {{ target.nii_5755_amp_err|safe }}</td>
              <td>{{ target.nii_5755_flux|floatformat:3 }}{{ target.nii_5755_flux_err|safe }}</td>
              <td>{{ target.nii_5755_cont|floatformat:3 }}{{ target.nii_5755_cont_err|safe }}</td>
              <td>{{ target.nii_5755_ew|floatformat:2 }}  {{ target.nii_5755_ew_err|safe }}</td>
              <td>{{ target.nii_5755_chi2|floatformat:3 }}</td>
              <td>{{ target.nii_5755_npix }}</td>
            </tr>
            <tr>
              <td>He I &lambda;5876 (narrow)</td>
              <td>{{ target.hei_5876_snr|floatformat:2 }}</td>
              <td>{{ target.hei_5876_vshift|floatformat:2 }}</td>
              <td>{{ target.hei_5876_sigma|floatformat:2 }}</td>
              <td>{{ target.hei_5876_amp|floatformat:3 }} {{ target.hei_5876_amp_err|safe }}</td>
              <td>{{ target.hei_5876_flux|floatformat:3 }}{{ target.hei_5876_flux_err|safe }}</td>
              <td>{{ target.hei_5876_cont|floatformat:3 }}{{ target.hei_5876_cont_err|safe }}</td>
              <td>{{ target.hei_5876_ew|floatformat:2 }}  {{ target.hei_5876_ew_err|safe }}</td>
              <td>{{ target.hei_5876_chi2|floatformat:3 }}</td>
              <td>{{ target.hei_5876_npix }}</td>
            </tr>
            <tr>
              <td>[O I] &lambda;6300</td>
              <td>{{ target.oi_6300_snr|floatformat:2 }}</td>
              <td>{{ target.oi_6300_vshift|floatformat:2 }}</td>
              <td>{{ target.oi_6300_sigma|floatformat:2 }}</td>
              <td>{{ target.oi_6300_amp|floatformat:3 }} {{ target.oi_6300_amp_err|safe }}</td>
              <td>{{ target.oi_6300_flux|floatformat:3 }}{{ target.oi_6300_flux_err|safe }}</td>
              <td>{{ target.oi_6300_cont|floatformat:3 }}{{ target.oi_6300_cont_err|safe }}</td>
              <td>{{ target.oi_6300_ew|floatformat:2 }}  {{ target.oi_6300_ew_err|safe }}</td>
              <td>{{ target.oi_6300_chi2|floatformat:3 }}</td>
              <td>{{ target.oi_6300_npix }}</td>
            </tr>
            <tr>
              <td>[S III] &lambda;6312</td>
              <td>{{ target.siii_6312_snr|floatformat:2 }}</td>
              <td>{{ target.siii_6312_vshift|floatformat:2 }}</td>
              <td>{{ target.siii_6312_sigma|floatformat:2 }}</td>
              <td>{{ target.siii_6312_amp|floatformat:3 }} {{ target.siii_6312_amp_err|safe }}</td>
              <td>{{ target.siii_6312_flux|floatformat:3 }}{{ target.siii_6312_flux_err|safe }}</td>
              <td>{{ target.siii_6312_cont|floatformat:3 }}{{ target.siii_6312_cont_err|safe }}</td>
              <td>{{ target.siii_6312_ew|floatformat:2 }}  {{ target.siii_6312_ew_err|safe }}</td>
              <td>{{ target.siii_6312_chi2|floatformat:3 }}</td>
              <td>{{ target.siii_6312_npix }}</td>
            </tr>
            <tr>
              <td>[N II] &lambda;6548</td>
              <td>{{ target.nii_6548_snr|floatformat:2 }}</td>
              <td>{{ target.nii_6548_vshift|floatformat:2 }}</td>
              <td>{{ target.nii_6548_sigma|floatformat:2 }}</td>
              <td>{{ target.nii_6548_amp|floatformat:3 }} {{ target.nii_6548_amp_err|safe }}</td>
              <td>{{ target.nii_6548_flux|floatformat:3 }}{{ target.nii_6548_flux_err|safe }}</td>
              <td>{{ target.nii_6548_cont|floatformat:3 }}{{ target.nii_6548_cont_err|safe }}</td>
              <td>{{ target.nii_6548_ew|floatformat:2 }}  {{ target.nii_6548_ew_err|safe }}</td>
              <td>{{ target.nii_6548_chi2|floatformat:3 }}</td>
              <td>{{ target.nii_6548_npix }}</td>
            </tr>
            <tr>
              <td>H&alpha; (narrow)</td>
              <td>{{ target.halpha_snr|floatformat:2 }}</td>
              <td>{{ target.halpha_vshift|floatformat:2 }}</td>
              <td>{{ target.halpha_sigma|floatformat:2 }}</td>
              <td>{{ target.halpha_amp|floatformat:3 }} {{ target.halpha_amp_err|safe }}</td>
              <td>{{ target.halpha_flux|floatformat:3 }}{{ target.halpha_flux_err|safe }}</td>
              <td>{{ target.halpha_cont|floatformat:3 }}{{ target.halpha_cont_err|safe }}</td>
              <td>{{ target.halpha_ew|floatformat:2 }}  {{ target.halpha_ew_err|safe }}</td>
              <td>{{ target.halpha_chi2|floatformat:3 }}</td>
              <td>{{ target.halpha_npix }}</td>
            </tr>
            <tr>
              <td>[N II] &lambda;6584</td>
              <td>{{ target.nii_6584_snr|floatformat:2 }}</td>
              <td>{{ target.nii_6584_vshift|floatformat:2 }}</td>
              <td>{{ target.nii_6584_sigma|floatformat:2 }}</td>
              <td>{{ target.nii_6584_amp|floatformat:3 }} {{ target.nii_6584_amp_err|safe }}</td>
              <td>{{ target.nii_6584_flux|floatformat:3 }}{{ target.nii_6584_flux_err|safe }}</td>
              <td>{{ target.nii_6584_cont|floatformat:3 }}{{ target.nii_6584_cont_err|safe }}</td>
              <td>{{ target.nii_6584_ew|floatformat:2 }}  {{ target.nii_6584_ew_err|safe }}</td>
              <td>{{ target.nii_6584_chi2|floatformat:3 }}</td>
              <td>{{ target.nii_6584_npix }}</td>
            </tr>
            <tr>
              <td>[S II] &lambda;6716</td>
              <td>{{ target.sii_6716_snr|floatformat:2 }}</td>
              <td>{{ target.sii_6716_vshift|floatformat:2 }}</td>
              <td>{{ target.sii_6716_sigma|floatformat:2 }}</td>
              <td>{{ target.sii_6716_amp|floatformat:3 }} {{ target.sii_6716_amp_err|safe }}</td>
              <td>{{ target.sii_6716_flux|floatformat:3 }}{{ target.sii_6716_flux_err|safe }}</td>
              <td>{{ target.sii_6716_cont|floatformat:3 }}{{ target.sii_6716_cont_err|safe }}</td>
              <td>{{ target.sii_6716_ew|floatformat:2 }}  {{ target.sii_6716_ew_err|safe }}</td>
              <td>{{ target.sii_6716_chi2|floatformat:3 }}</td>
              <td>{{ target.sii_6716_npix }}</td>
            </tr>
            <tr>
              <td>[S II] &lambda;6731</td>
              <td>{{ target.sii_6731_snr|floatformat:2 }}</td>
              <td>{{ target.sii_6731_vshift|floatformat:2 }}</td>
              <td>{{ target.sii_6731_sigma|floatformat:2 }}</td>
              <td>{{ target.sii_6731_amp|floatformat:3 }} {{ target.sii_6731_amp_err|safe }}</td>
              <td>{{ target.sii_6731_flux|floatformat:3 }}{{ target.sii_6731_flux_err|safe }}</td>
              <td>{{ target.sii_6731_cont|floatformat:3 }}{{ target.sii_6731_cont_err|safe }}</td>
              <td>{{ target.sii_6731_ew|floatformat:2 }}  {{ target.sii_6731_ew_err|safe }}</td>
              <td>{{ target.sii_6731_chi2|floatformat:3 }}</td>
              <td>{{ target.sii_6731_npix }}</td>
            </tr>
            <tr>
              <td>[O II] &lambda;7320</td>
              <td>{{ target.oii_7320_snr|floatformat:2 }}</td>
              <td>{{ target.oii_7320_vshift|floatformat:2 }}</td>
              <td>{{ target.oii_7320_sigma|floatformat:2 }}</td>
              <td>{{ target.oii_7320_amp|floatformat:3 }} {{ target.oii_7320_amp_err|safe }}</td>
              <td>{{ target.oii_7320_flux|floatformat:3 }}{{ target.oii_7320_flux_err|safe }}</td>
              <td>{{ target.oii_7320_cont|floatformat:3 }}{{ target.oii_7320_cont_err|safe }}</td>
              <td>{{ target.oii_7320_ew|floatformat:2 }}  {{ target.oii_7320_ew_err|safe }}</td>
              <td>{{ target.oii_7320_chi2|floatformat:3 }}</td>
              <td>{{ target.oii_7320_npix }}</td>
            </tr>
            <tr>
              <td>[O II] &lambda;7330</td>
              <td>{{ target.oii_7330_snr|floatformat:2 }}</td>
              <td>{{ target.oii_7330_vshift|floatformat:2 }}</td>
              <td>{{ target.oii_7330_sigma|floatformat:2 }}</td>
              <td>{{ target.oii_7330_amp|floatformat:3 }} {{ target.oii_7330_amp_err|safe }}</td>
              <td>{{ target.oii_7330_flux|floatformat:3 }}{{ target.oii_7330_flux_err|safe }}</td>
              <td>{{ target.oii_7330_cont|floatformat:3 }}{{ target.oii_7330_cont_err|safe }}</td>
              <td>{{ target.oii_7330_ew|floatformat:2 }}  {{ target.oii_7330_ew_err|safe }}</td>
              <td>{{ target.oii_7330_chi2|floatformat:3 }}</td>
              <td>{{ target.oii_7330_npix }}</td>
            </tr>
            <tr>
              <td>[S III] &lambda;9069</td>
              <td>{{ target.siii_9069_snr|floatformat:2 }}</td>
              <td>{{ target.siii_9069_vshift|floatformat:2 }}</td>
              <td>{{ target.siii_9069_sigma|floatformat:2 }}</td>
              <td>{{ target.siii_9069_amp|floatformat:3 }} {{ target.siii_9069_amp_err|safe }}</td>
              <td>{{ target.siii_9069_flux|floatformat:3 }}{{ target.siii_9069_flux_err|safe }}</td>
              <td>{{ target.siii_9069_cont|floatformat:3 }}{{ target.siii_9069_cont_err|safe }}</td>
              <td>{{ target.siii_9069_ew|floatformat:2 }}  {{ target.siii_9069_ew_err|safe }}</td>
              <td>{{ target.siii_9069_chi2|floatformat:3 }}</td>
              <td>{{ target.siii_9069_npix }}</td>
            </tr>
            <tr>
              <td>[S III] &lambda;9532</td>
              <td>{{ target.siii_9532_snr|floatformat:2 }}</td>
              <td>{{ target.siii_9532_vshift|floatformat:2 }}</td>
              <td>{{ target.siii_9532_sigma|floatformat:2 }}</td>
              <td>{{ target.siii_9532_amp|floatformat:3 }} {{ target.siii_9532_amp_err|safe }}</td>
              <td>{{ target.siii_9532_flux|floatformat:3 }}{{ target.siii_9532_flux_err|safe }}</td>
              <td>{{ target.siii_9532_cont|floatformat:3 }}{{ target.siii_9532_cont_err|safe }}</td>
              <td>{{ target.siii_9532_ew|floatformat:2 }}  {{ target.siii_9532_ew_err|safe }}</td>
              <td>{{ target.siii_9532_chi2|floatformat:3 }}</td>
              <td>{{ target.siii_9532_npix }}</td>
            </tr>
          </table>
        </div> <!-- END Panel body -->
    </div> <!-- END Collapse section -->
</div> <!-- end accordian div -->
          
<div class="panel panel-primary accordion"> <!-- Panel (collapasable) -->
    <div class="panel-heading"> <!-- Panel head -->
        <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapseBroadLines">
          <button type="submit" class="btn btn-primary" style="margin-top:15px;">Broad H & He Lines</button>
        </a>           
    </div> <!-- END Panel head -->
    <div id="collapseBroadLines" class="panel-collapse collapse in"> <!-- Collapsable section -->
        <div class="panel-body"> <!-- Panel body -->
          <table class="table table-bordered table-hover">
            <thead class="alert alert-info">
              <tr>
                <th>Line</th>
                <th>S/N</th>
                <th>&#916;v<br />(km/s)</th>
                <th>&sigma;<br />(km/s)</th>
                <th>Amplitude<br />(10<sup>-17</sup>erg s<sup>-1</sup> cm<sup>-2</sup>&#8491;<sup>-1</sup>)</th>
                <th>Flux<br />(10<sup>-17</sup>erg s<sup>-1</sup> cm<sup>-2</sup>)</th>
                <th>Continuum<br />(10<sup>-17</sup>erg s<sup>-1</sup> cm<sup>-2</sup>&#8491;<sup>-1</sup>)</th>
                <th>EW<br />(&#8491;)</th>
                <th>&#967;<sup>2</sup></th> <!-- chi^2 -->
                <th>Npix</th>
              </tr>
            </thead>
            <!--
            <tr>
              <td>He I &lambda;3889 (broad)</td>
              <td>{{ target.hei_broad_3889_snr|floatformat:2 }}</td>
              <td>{{ target.hei_broad_3889_vshift|floatformat:2 }}</td>
              <td>{{ target.hei_broad_3889_sigma|floatformat:2 }}</td>
              <td>{{ target.hei_broad_3889_amp|floatformat:3 }} {{ target.hei_broad_3889_amp_err|safe }}</td>
              <td>{{ target.hei_broad_3889_flux|floatformat:3 }}{{ target.hei_broad_3889_flux_err|safe }}</td>
              <td>{{ target.hei_broad_3889_cont|floatformat:3 }}{{ target.hei_broad_3889_cont_err|safe }}</td>
              <td>{{ target.hei_broad_3889_ew|floatformat:2 }}  {{ target.hei_broad_3889_ew_err|safe }}</td>
              <td>{{ target.hei_broad_3889_chi2|floatformat:3 }}</td>
              <td>{{ target.hei_broad_3889_npix }}</td>
            </tr>
            -->
            <tr>
              <td>H6 (broad)</td>
              <td>{{ target.h6_broad_snr|floatformat:2 }}</td>
              <td>{{ target.h6_broad_vshift|floatformat:2 }}</td>
              <td>{{ target.h6_broad_sigma|floatformat:2 }}</td>
              <td>{{ target.h6_broad_amp|floatformat:3 }} {{ target.h6_broad_amp_err|safe }}</td>
              <td>{{ target.h6_broad_flux|floatformat:3 }}{{ target.h6_broad_flux_err|safe }}</td>
              <td>{{ target.h6_broad_cont|floatformat:3 }}{{ target.h6_broad_cont_err|safe }}</td>
              <td>{{ target.h6_broad_ew|floatformat:2 }}  {{ target.h6_broad_ew_err|safe }}</td>
              <td>{{ target.h6_broad_chi2|floatformat:3 }}</td>
              <td>{{ target.h6_broad_npix }}</td>
            </tr>
            <tr>
              <td>H&epsilon; (broad)</td>
              <td>{{ target.hepsilon_broad_snr|floatformat:2 }}</td>
              <td>{{ target.hepsilon_broad_vshift|floatformat:2 }}</td>
              <td>{{ target.hepsilon_broad_sigma|floatformat:2 }}</td>
              <td>{{ target.hepsilon_broad_amp|floatformat:3 }} {{ target.hepsilon_broad_amp_err|safe }}</td>
              <td>{{ target.hepsilon_broad_flux|floatformat:3 }}{{ target.hepsilon_broad_flux_err|safe }}</td>
              <td>{{ target.hepsilon_broad_cont|floatformat:3 }}{{ target.hepsilon_broad_cont_err|safe }}</td>
              <td>{{ target.hepsilon_broad_ew|floatformat:2 }}  {{ target.hepsilon_broad_ew_err|safe }}</td>
              <td>{{ target.hepsilon_broad_chi2|floatformat:3 }}</td>
              <td>{{ target.hepsilon_broad_npix }}</td>
            </tr>
            <tr>
              <td>H&delta; (narow)</td>
              <td>{{ target.hdelta_broad_snr|floatformat:2 }}</td>
              <td>{{ target.hdelta_broad_vshift|floatformat:2 }}</td>
              <td>{{ target.hdelta_broad_sigma|floatformat:2 }}</td>
              <td>{{ target.hdelta_broad_amp|floatformat:3 }} {{ target.hdelta_broad_amp_err|safe }}</td>
              <td>{{ target.hdelta_broad_flux|floatformat:3 }}{{ target.hdelta_broad_flux_err|safe }}</td>
              <td>{{ target.hdelta_broad_cont|floatformat:3 }}{{ target.hdelta_broad_cont_err|safe }}</td>
              <td>{{ target.hdelta_broad_ew|floatformat:2 }}  {{ target.hdelta_broad_ew_err|safe }}</td>
              <td>{{ target.hdelta_broad_chi2|floatformat:3 }}</td>
              <td>{{ target.hdelta_broad_npix }}</td>
            </tr>
            <tr>
              <td>H&gamma; (broad)</td>
              <td>{{ target.hgamma_broad_snr|floatformat:2 }}</td>
              <td>{{ target.hgamma_broad_vshift|floatformat:2 }}</td>
              <td>{{ target.hgamma_broad_sigma|floatformat:2 }}</td>
              <td>{{ target.hgamma_broad_amp|floatformat:3 }} {{ target.hgamma_broad_amp_err|safe }}</td>
              <td>{{ target.hgamma_broad_flux|floatformat:3 }}{{ target.hgamma_broad_flux_err|safe }}</td>
              <td>{{ target.hgamma_broad_cont|floatformat:3 }}{{ target.hgamma_broad_cont_err|safe }}</td>
              <td>{{ target.hgamma_broad_ew|floatformat:2 }}  {{ target.hgamma_broad_ew_err|safe }}</td>
              <td>{{ target.hgamma_broad_chi2|floatformat:3 }}</td>
              <td>{{ target.hgamma_broad_npix }}</td>
            </tr>
            <tr>
              <td>He I &lambda;4471 (broad)</td>
              <td>{{ target.hei_broad_4471_snr|floatformat:2 }}</td>
              <td>{{ target.hei_broad_4471_vshift|floatformat:2 }}</td>
              <td>{{ target.hei_broad_4471_sigma|floatformat:2 }}</td>
              <td>{{ target.hei_broad_4471_amp|floatformat:3 }} {{ target.hei_broad_4471_amp_err|safe }}</td>
              <td>{{ target.hei_broad_4471_flux|floatformat:3 }}{{ target.hei_broad_4471_flux_err|safe }}</td>
              <td>{{ target.hei_broad_4471_cont|floatformat:3 }}{{ target.hei_broad_4471_cont_err|safe }}</td>
              <td>{{ target.hei_broad_4471_ew|floatformat:2 }}  {{ target.hei_broad_4471_ew_err|safe }}</td>
              <td>{{ target.hei_broad_4471_chi2|floatformat:3 }}</td>
              <td>{{ target.hei_broad_4471_npix }}</td>
            </tr>
            <tr>
              <td>He II &lambda;4686 (broad)</td>
              <td>{{ target.heii_broad_4686_snr|floatformat:2 }}</td>
              <td>{{ target.heii_broad_4686_vshift|floatformat:2 }}</td>
              <td>{{ target.heii_broad_4686_sigma|floatformat:2 }}</td>
              <td>{{ target.heii_broad_4686_amp|floatformat:3 }} {{ target.heii_broad_4686_amp_err|safe }}</td>
              <td>{{ target.heii_broad_4686_flux|floatformat:3 }}{{ target.heii_broad_4686_flux_err|safe }}</td>
              <td>{{ target.heii_broad_4686_cont|floatformat:3 }}{{ target.heii_broad_4686_cont_err|safe }}</td>
              <td>{{ target.heii_broad_4686_ew|floatformat:2 }}  {{ target.heii_broad_4686_ew_err|safe }}</td>
              <td>{{ target.heii_broad_4686_chi2|floatformat:3 }}</td>
              <td>{{ target.heii_broad_4686_npix }}</td>
            </tr>
            <tr>
              <td>H&beta; (broad)</td>
              <td>{{ target.hbeta_broad_snr|floatformat:2 }}</td>
              <td>{{ target.hbeta_broad_vshift|floatformat:2 }}</td>
              <td>{{ target.hbeta_broad_sigma|floatformat:2 }}</td>
              <td>{{ target.hbeta_broad_amp|floatformat:3 }} {{ target.hbeta_broad_amp_err|safe }}</td>
              <td>{{ target.hbeta_broad_flux|floatformat:3 }}{{ target.hbeta_broad_flux_err|safe }}</td>
              <td>{{ target.hbeta_broad_cont|floatformat:3 }}{{ target.hbeta_broad_cont_err|safe }}</td>
              <td>{{ target.hbeta_broad_ew|floatformat:2 }}  {{ target.hbeta_broad_ew_err|safe }}</td>
              <td>{{ target.hbeta_broad_chi2|floatformat:3 }}</td>
              <td>{{ target.hbeta_broad_npix }}</td>
            </tr>
            <tr>
              <td>He I &lambda;5876 (broad)</td>
              <td>{{ target.hei_broad_5876_snr|floatformat:2 }}</td>
              <td>{{ target.hei_broad_5876_vshift|floatformat:2 }}</td>
              <td>{{ target.hei_broad_5876_sigma|floatformat:2 }}</td>
              <td>{{ target.hei_broad_5876_amp|floatformat:3 }} {{ target.hei_broad_5876_amp_err|safe }}</td>
              <td>{{ target.hei_broad_5876_flux|floatformat:3 }}{{ target.hei_broad_5876_flux_err|safe }}</td>
              <td>{{ target.hei_broad_5876_cont|floatformat:3 }}{{ target.hei_broad_5876_cont_err|safe }}</td>
              <td>{{ target.hei_broad_5876_ew|floatformat:2 }}  {{ target.hei_broad_5876_ew_err|safe }}</td>
              <td>{{ target.hei_broad_5876_chi2|floatformat:3 }}</td>
              <td>{{ target.hei_broad_5876_npix }}</td>
            </tr>
            <tr>
              <td>H&alpha; (broad)</td>
              <td>{{ target.halpha_broad_snr|floatformat:2 }}</td>
              <td>{{ target.halpha_broad_vshift|floatformat:2 }}</td>
              <td>{{ target.halpha_broad_sigma|floatformat:2 }}</td>
              <td>{{ target.halpha_broad_amp|floatformat:3 }} {{ target.halpha_broad_amp_err|safe }}</td>
              <td>{{ target.halpha_broad_flux|floatformat:3 }}{{ target.halpha_broad_flux_err|safe }}</td>
              <td>{{ target.halpha_broad_cont|floatformat:3 }}{{ target.halpha_broad_cont_err|safe }}</td>
              <td>{{ target.halpha_broad_ew|floatformat:2 }}  {{ target.halpha_broad_ew_err|safe }}</td>
              <td>{{ target.halpha_broad_chi2|floatformat:3 }}</td>
              <td>{{ target.halpha_broad_npix }}</td>
            </tr>
          </table>
        </div> <!-- END Panel body -->
    </div> <!-- END Collapse section -->
</div> <!-- end accordian div -->
<br />

{% comment %}
<table class="table table-bordered">
  <tr>
    <td><a href="{{ target.png_base_url }}/fastspec-{{ target.survey }}-{{ target.program }}-{{ target.str_healpix }}-{{ target.str_targetid }}.png">
        <img class="img-responsive" width="100%" src="{{ target.png_base_url }}/fastspec-{{ target.survey }}-{{ target.program }}-{{ target.str_healpix }}-{{ target.str_targetid }}.png" alt="Missing file fastspec-{{ target.survey }}-{{ target.program }}-{{ target.str_healpix }}-{{ target.str_targetid }}.png">
    </a></td>
  </tr> 
</table>
<br />
{% endcomment %}

{% comment %}
<table class="table table-bordered">
  <tr>
    <td><a href="{{ target.png_base_url }}/fastphot-{{ target.survey }}-{{ target.program }}-{{ target.str_healpix }}-{{ target.str_targetid }}.png"><img class="img-responsive" width="100%" src="{{ target.png_base_url }}/fastphot-{{ target.survey }}-{{ target.program }}-{{ target.str_healpix }}-{{ target.str_targetid }}.png" alt="Missing file fastphot-{{ target.survey }}-{{ target.program }}-{{ target.str_healpix }}-{{ target.str_targetid }}.png"></a></td>
  </tr> 
</table>
{% endcomment %}

{% if result_index > -1 %}
  <form style="display:inline;" action="{% url 'target-prev' result_index %}"><button{% if not has_prev %} disabled{% endif %}>Previous</button></form> 
  <form style="display:inline;" action="{% url 'target-next' result_index %}"><button{% if not has_next %} disabled{% endif %}>Next</button></form> 
  <form style="display:inline;" action="{% url 'index' %}#query"><button>New</button></form> 
  <br /><br /><br />
{% endif %}

{% endblock %}

