{% extends "base.html" %}

{% block content %}

{% comment %}
<style type="text/css">
.top-crop { max-height: 620px; overflow: hidden; }
.cropped {
    width: 752px; /* width of container */
    height: 300px; /* height of container */
    overflow: hidden;
}
</style>
{% endcomment %}

<style type="text/css">
td, th {text-align: center}
</style>

{% if result_index > -1 %}
<br />
<form style="display:inline;" action="{% url 'target-prev' result_index %}"><button{% if not has_prev %} disabled{% endif %}>Previous</button></form> 
<form style="display:inline;" action="{% url 'target-next' result_index %}"><button{% if not has_next %} disabled{% endif %}>Next</button></form> 
<form style="display:inline;" action="{% url 'index' %}#query"><button>New</button></form> 
<br />
{% endif %}

<br />
<h2>
  <a href="https://www.legacysurvey.org/viewer-desi/?ra={{ target.ra }}&dec={{ target.dec}}&zoom=15&layer=ls-dr9&targets-dr9-{{ target.survey }}-{{ target.faprgrm }}" target="_blank">{{ target.target_name }}</a>
</h2>
<br />

<a href="https://www.legacysurvey.org/viewer/jpeg-cutout?ra={{ target.ra }}&dec={{ target.dec}}&zoom=15&layer=ls-dr9"><img class="img-responsive" width="10%" src="https://www.legacysurvey.org/viewer/jpeg-cutout?ra={{ target.ra }}&dec={{ target.dec}}&zoom=15&layer=ls-dr9"></a>

{% comment %}
<h4><a href="{{ target.data_base_url }}">Fitting Catalogs</a></h4>
{% endcomment %}

<br /><br />
<h3>Target Properties</h3>
<br />

<table class="table table-bordered table-hover">
  <tr>
    <th colspan="6"></th>
    <th colspan="4">{{ target.survey|upper }} Targeting Bits</th>
  </tr>
  <tr>
    <th>Survey</th>
    <th>Program</th>
    <th>TargetID</th>
    <th>Healpixel</th>
    <th>RA<br />(degree)</th>
    <th>Dec<br />(degree)</th>
    <th>DESI</th>
    <th>BGS</th>
    <th>MWS</th>
    <th>Secondary</th>
  </tr>
  <tr>
    <td>{{ target.survey|upper }}</td>
    <td>{{ target.faprgrm|upper }}</td>
    <td>{{ target.targetid }}</td>
    <td>{{ target.hpxpixel }}</td>
    <td>{{ target.ra|floatformat:7 }}</td>
    <td>{{ target.dec|floatformat:6 }}</td>
    {% if target.survey == 'sv1' %}
      <td>{{ target.sv1_desi_target }}</td>
      <td>{{ target.sv1_bgs_target }}</td>
      <td>{{ target.sv1_mws_target }}</td>
      <td>{{ target.sv1_scnd_target }}</td>
    {% endif %}    
    {% if target.survey == 'sv2' %}
      <td>{{ target.sv2_desi_target }}</td>
      <td>{{ target.sv2_bgs_target }}</td>
      <td>{{ target.sv2_mws_target }}</td>
      <td>{{ target.sv2_scnd_target }}</td>
    {% endif %}    
    {% if target.survey == 'sv3' %}
      <td>{{ target.sv3_desi_target }}</td>
      <td>{{ target.sv3_bgs_target }}</td>
      <td>{{ target.sv3_mws_target }}</td>
      <td>{{ target.sv3_scnd_target }}</td>
    {% endif %}    
    {% if target.survey == 'main' %}
      <td>{{ target.desi_target }}</td>
      <td>{{ target.bgs_target }}</td>
      <td>{{ target.mws_target }}</td>
      <td>{{ target.scnd_target }}</td>
    {% endif %}    
  </tr>
</table><br />

<div class="panel panel-primary accordion"> <!-- Panel (collapasable) -->
    <div class="panel-heading"> <!-- Panel head -->
        <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapseOne">
          <button type="submit" class="btn btn-primary" style="margin-top:15px;">Additional Targeting Information</button>
        </a>           
    </div> <!-- END Panel head -->
    <br /><br />
    <div id="collapseOne" class="panel-collapse collapse in"> <!-- Collapsable section -->
        <div class="panel-body"> <!-- Panel body -->
          <table class="table table-bordered table-hover">
            <tr>
              <th></th>
              <th>{{ target.survey|upper }} Targeting Bit Names</th>
            </tr>
            <tr>
              <td>DESI</td>
              <td>{{ target.desi_bitnames }}</td>
            </tr>
            <tr>
              <td>BGS</td>
              <td>{{ target.bgs_bitnames }}</td>
            </tr>
            <tr>
              <td>MWS</td>
              <td>{{ target.mws_bitnames }}</td>
            </tr>
            <tr>
              <td>Secondary</td>
              <td>{{ target.scnd_bitnames }}</td>
            </tr>
          </table><br />
        </div> <!-- END Panel body -->
    </div> <!-- END Collapse section -->
</div> <!-- end accordian div -->

<h3>Redshift and Photometry</h3><br />

<h6>RedRock</h6>
<table class="table table-bordered table-hover">
  <tr>
    <th>z</th>
    <th>ZWarn</th>
    <th>&#916;&#967;<sup>2</sup></th> <!-- Delta-chi^2 -->
    <th>SpecType</th>
  </tr>
  <tr>
    <td>{{ target.z|floatformat:8 }}</td>
    <td>{{ target.zwarn }}</td>
    <td>{{ target.deltachi2|floatformat:3 }}</td>
    <td>{{ target.spectype }}</td>
  </tr>
</table>

<h6>Legacy Imaging Surveys (Photsys {{ target.photsys }})</h6>
<table class="table table-bordered table-hover">
  <tr>
    <!--<th>AB mag<br />(extinction<br />corrected)</th>-->
    <th>AB mag<br />(ext. corr)</th>
    <th>g</th>
    <th>r</th>
    <th>z</th>
    <th>W1</th>
    <th>W2</th>
  </tr>
  <tr>
    <td>Total</td>
    <td>{{ target.abmag_g }}{{ target.abmag_err_g|safe }}</td> <!--https://stackoverflow.com/questions/12521567/prevent-from-being-converted-to-amp-in-jinja -->
    <td>{{ target.abmag_r }}{{ target.abmag_err_r|safe }}</td>
    <td>{{ target.abmag_z }}{{ target.abmag_err_z|safe }}</td>
    <td>{{ target.abmag_w1 }}{{ target.abmag_err_w1|safe }}</td>
    <td>{{ target.abmag_w2 }}{{ target.abmag_err_w2|safe }}</td>
  </tr>
  <tr>
    <td>Fiber</td>
    <td>{{ target.fiberabmag_g|safe }}</td>
    <td>{{ target.fiberabmag_r|safe }}</td>
    <td>{{ target.fiberabmag_z|safe }}</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
  </tr>
  <tr>
    <td>FiberTot</td>
    <td>{{ target.fibertotabmag_g|safe }}</td>
    <td>{{ target.fibertotabmag_r|safe }}</td>
    <td>{{ target.fibertotabmag_z|safe }}</td>
    <td>&nbsp</td>
    <td>&nbsp</td>
  </tr>
</table>
<br />

<h3>Stellar Continuum Modeling</h3><br />

<h6>Spectral Properties & Fitting</h6>
<table class="table table-bordered table-hover">
  <tr>
    <th colspan="3">Median S/N (pixel<sup>-1</sup>)</th>
    <th colspan="7">Continuum</th>
  </tr>
  <tr>
    <th>b camera</th>
    <th>r camera</th>
    <th>z camera</th>
    <th>z</th>
    <th>&#967;<sup>2</sup></th> <!-- chi^2 -->
    <th>Age<br />(Gyr)</th>
    <th>A<sub>V</sub><br />(mag)</th>
    <th>&sigma;<br />(km/s)</th>
    <th>D<sub>n</sub>(4000)<br />(data)</th>
    <th>D<sub>n</sub>(4000)<br />(model)</th>
  </tr>
  <tr>
    <td>{{ target.continuum_snr_b|floatformat:3 }}</td>
    <td>{{ target.continuum_snr_r|floatformat:3 }}</td>
    <td>{{ target.continuum_snr_z|floatformat:3 }}</td>
    <td>{{ target.continuum_z|floatformat:8 }}</td>
    <td>{{ target.continuum_chi2|floatformat:3 }}</td>
    <td>{{ target.continuum_age|floatformat:3 }}</td>
    <td>{{ target.continuum_av|floatformat:2 }}</td>
    <td>{{ target.continuum_vdisp|floatformat:1 }}</td>
    <td>{{ target.dn4000|floatformat:3 }}</td>
    <td>{{ target.dn4000_model|floatformat:3 }}</td>
  </tr>
</table>
<br />

<h6>Synthesized Photometry (Photsys {{ target.photsys }})</h6>
<table class="table table-bordered table-hover">
  <tr>
    <th>AB mag<br />(ext. corr)</th>
    <th>g</th>
    <th>r</th>
    <th>z</th>
  </tr>
  <tr>
    <td>Data</td>
    <td>{{ target.abmag_synth_g|safe }}</td>
    <td>{{ target.abmag_synth_r|safe }}</td>
    <td>{{ target.abmag_synth_z|safe }}</td>
  </tr>
  <tr>
    <td>Model</td>
    <td>{{ target.abmag_synth_model_g|safe }}</td>
    <td>{{ target.abmag_synth_model_r|safe }}</td>
    <td>{{ target.abmag_synth_model_z|safe }}</td>
  </tr>
</table>
<br />

<table class="table table-bordered">
  <tr>
    <td><a href="{{ target.png_base_url }}/fastspec-{{ target.survey }}-{{ target.faprgrm }}-{{ target.str_hpxpixel }}-{{ target.str_targetid }}.png">
    <div class="top-crop">
      <img class="img-responsive" width="100%" src="{{ target.png_base_url }}/fastspec-{{ target.survey }}-{{ target.faprgrm }}-{{ target.str_hpxpixel }}-{{ target.str_targetid }}.png" alt="Missing file fastspec-{{ target.survey }}-{{ target.faprgrm }}-{{ target.str_hpxpixel }}-{{ target.str_targetid }}.png">
    </div>
    </a></td>
  </tr> 
</table>
<br />

<h3>Emission-line Modeling</h3><br />

<h6>Average Line-Properties</h6>
<table class="table table-bordered table-hover">
  <tr>
    <th colspan="2">UV / QSO</th>
    <th colspan="2">Broad Balmer & Helium</th>
    <th colspan="2">Narrow Balmer & Forbidden</th>
    <th colspan="3">Doublet Ratios</th>
  </tr>
  <tr>
    <th>z</th>
    <th>&sigma;<br />(km/s)</th>
    <th>z</th>
    <th>&sigma;<br />(km/s)</th>
    <th>z</th>
    <th>&sigma;<br />(km/s)</th>
    <th>Mg II<br />&lambda;2796/&lambda;2803</th>
    <th>[OII]<br />&lambda;3726/&lambda;3729</th>
    <th>[SII]<br />&lambda;6731/&lambda;6716</th>
  </tr>
  <tr>
    <td>{{ target.broad_z|floatformat:8 }}</td>
    <td>{{ target.broad_sigma|floatformat:2 }}</td>
    <td>{{ target.balmer_z|floatformat:8 }}</td>
    <td>{{ target.balmer_sigma|floatformat:2 }}</td>
    <td>{{ target.forbidden_z|floatformat:8 }}</td>
    <td>{{ target.forbidden_sigma|floatformat:2 }}</td>
    <td>{{ target.mgii_doublet_ratio|floatformat:3 }}</td>
    <td>{{ target.oii_doublet_ratio|floatformat:3 }}</td>
    <td>{{ target.sii_doublet_ratio|floatformat:3 }}</td>
  </tr>
</table>
<br />

<h6>UV / QSO Emission Lines</h6>
<table class="table table-bordered table-hover">
  <tr>
    <th>Line</th>
    <th>S/N</th>
    <th>&#916;v<br />(km/s)</th>
    <th>&sigma;<br />(km/s)</th>
    <th>Amplitude<br />(10<sup>-17</sup>erg s<sup>-1</sup> cm<sup>-2</sup>&#8491;<sup>-1</sup>)</th>
    <th>Flux<br />(10<sup>-17</sup>erg s<sup>-1</sup> cm<sup>-2</sup>)</th>
    <th>Continuum<br />(10<sup>-17</sup>erg s<sup>-1</sup> cm<sup>-2</sup>&#8491;<sup>-1</sup>)</th>
    <th>EW<br />(&#8491;)</th>
    <th>&#967;<sup>2</sup></th> <!-- chi^2 -->
    <th>Npix</th>
  </tr>
  <tr>
    {% comment %}
      {% if target.mgii_2796_amp_ivar > 0 %}
      {% else %}
      {% endif %}
    {% endcomment %}
    <td>Mg II &lambda;2796</td>
    <td>{{ target.mgii_2796_snr|floatformat:2 }}</td>
    <td>{{ target.mgii_2796_vshift|floatformat:2 }}</td>
    <td>{{ target.mgii_2796_sigma|floatformat:2 }}</td>
    <td>{{ target.mgii_2796_amp|floatformat:3 }}{{ target.mgii_2803_amp_err|safe }}</td>
    <td>{{ target.mgii_2796_flux|floatformat:3 }}{{ target.mgii_2803_flux_err|safe }}</td>
    <td>{{ target.mgii_2796_cont|floatformat:3 }}{{ target.mgii_2803_cont_err|safe }}</td>
    <td>{{ target.mgii_2796_ew|floatformat:2 }}{{ target.mgii_2803_ew_err|safe }}</td>
    <td>{{ target.mgii_2796_chi2|floatformat:3 }}</td>
    <td>{{ target.mgii_2796_npix }}</td>
  </tr>
  <tr>
    <td>Mg II &lambda;2803</td>
    <td>{{ target.mgii_2803_snr|floatformat:2 }}</td>
    <td>{{ target.mgii_2803_vshift|floatformat:2 }}</td>
    <td>{{ target.mgii_2803_sigma|floatformat:2 }}</td>
    <td>{{ target.mgii_2803_amp|floatformat:3 }}{{ target.mgii_2803_amp_err|safe }}</td>
    <td>{{ target.mgii_2803_flux|floatformat:3 }}{{ target.mgii_2803_flux_err|safe }}</td>
    <td>{{ target.mgii_2803_cont|floatformat:3 }}{{ target.mgii_2803_cont_err|safe }}</td>
    <td>{{ target.mgii_2803_ew|floatformat:2 }}{{ target.mgii_2803_ew_err|safe }}</td>
    <td>{{ target.mgii_2803_chi2|floatformat:3 }}</td>
    <td>{{ target.mgii_2803_npix }}</td>
  </tr>
</table>
<br />

<h6>Forbidden and Narrow Balmer & Helium Lines</h6>
<table class="table table-bordered table-hover">
  <tr>
    <th>Line</th>
    <th>S/N</th>
    <th>&#916;v<br />(km/s)</th>
    <th>&sigma;<br />(km/s)</th>
    <th>Amplitude<br />(10<sup>-17</sup>erg s<sup>-1</sup> cm<sup>-2</sup>&#8491;<sup>-1</sup>)</th>
    <th>Flux<br />(10<sup>-17</sup>erg s<sup>-1</sup> cm<sup>-2</sup>)</th>
    <th>Continuum<br />(10<sup>-17</sup>erg s<sup>-1</sup> cm<sup>-2</sup>&#8491;<sup>-1</sup>)</th>
    <th>EW<br />(&#8491;)</th>
    <th>&#967;<sup>2</sup></th> <!-- chi^2 -->
    <th>Npix</th>
  </tr>
  <tr>
    <td>[OII] &lambda;3726</td>
    <td>{{ target.oii_3726_snr|floatformat:2 }}</td>
    <td>{{ target.oii_3726_vshift|floatformat:2 }}</td>
    <td>{{ target.oii_3726_sigma|floatformat:2 }}</td>
    <td>{{ target.oii_3726_amp|floatformat:3 }} {{ target.oii_3726_amp_err|safe }}</td>
    <td>{{ target.oii_3726_flux|floatformat:3 }}{{ target.oii_3726_flux_err|safe }}</td>
    <td>{{ target.oii_3726_cont|floatformat:3 }}{{ target.oii_3726_cont_err|safe }}</td>
    <td>{{ target.oii_3726_ew|floatformat:2 }}  {{ target.oii_3726_ew_err|safe }}</td>
    <td>{{ target.oii_3726_chi2|floatformat:3 }}</td>
    <td>{{ target.oii_3726_npix }}</td>
  </tr>
  <tr>
    <td>[OII] &lambda;3729</td>
    <td>{{ target.oii_3729_snr|floatformat:2 }}</td>
    <td>{{ target.oii_3729_vshift|floatformat:2 }}</td>
    <td>{{ target.oii_3729_sigma|floatformat:2 }}</td>
    <td>{{ target.oii_3729_amp|floatformat:3 }} {{ target.oii_3729_amp_err|safe }}</td>
    <td>{{ target.oii_3729_flux|floatformat:3 }}{{ target.oii_3729_flux_err|safe }}</td>
    <td>{{ target.oii_3729_cont|floatformat:3 }}{{ target.oii_3729_cont_err|safe }}</td>
    <td>{{ target.oii_3729_ew|floatformat:2 }}  {{ target.oii_3729_ew_err|safe }}</td>
    <td>{{ target.oii_3729_chi2|floatformat:3 }}</td>
    <td>{{ target.oii_3729_npix }}</td>
  </tr>
  <tr>
    <td>H&alpha; (narrow)</td>
    <td>{{ target.halpha_snr|floatformat:2 }}</td>
    <td>{{ target.halpha_vshift|floatformat:2 }}</td>
    <td>{{ target.halpha_sigma|floatformat:2 }}</td>
    <td>{{ target.halpha_amp|floatformat:3 }} {{ target.halpha_amp_err|safe }}</td>
    <td>{{ target.halpha_flux|floatformat:3 }}{{ target.halpha_flux_err|safe }}</td>
    <td>{{ target.halpha_cont|floatformat:3 }}{{ target.halpha_cont_err|safe }}</td>
    <td>{{ target.halpha_ew|floatformat:2 }}  {{ target.halpha_ew_err|safe }}</td>
    <td>{{ target.halpha_chi2|floatformat:3 }}</td>
    <td>{{ target.halpha_npix }}</td>
  </tr>
</table>
<br />

<h6>Broad Balmer & Helium Lines</h6>
<table class="table table-bordered table-hover">
  <tr>
    <th>Line</th>
    <th>S/N</th>
    <th>&#916;v<br />(km/s)</th>
    <th>&sigma;<br />(km/s)</th>
    <th>Amplitude<br />(10<sup>-17</sup>erg s<sup>-1</sup> cm<sup>-2</sup>&#8491;<sup>-1</sup>)</th>
    <th>Flux<br />(10<sup>-17</sup>erg s<sup>-1</sup> cm<sup>-2</sup>)</th>
    <th>Continuum<br />(10<sup>-17</sup>erg s<sup>-1</sup> cm<sup>-2</sup>&#8491;<sup>-1</sup>)</th>
    <th>EW<br />(&#8491;)</th>
    <th>&#967;<sup>2</sup></th> <!-- chi^2 -->
    <th>Npix</th>
  </tr>
  <tr>
    <td>H&alpha; (broad)</td>
    <td>{{ target.halpha_broad_snr|floatformat:2 }}</td>
    <td>{{ target.halpha_broad_vshift|floatformat:2 }}</td>
    <td>{{ target.halpha_broad_sigma|floatformat:2 }}</td>
    <td>{{ target.halpha_broad_amp|floatformat:3 }} {{ target.halpha_broad_amp_err|safe }}</td>
    <td>{{ target.halpha_broad_flux|floatformat:3 }}{{ target.halpha_broad_flux_err|safe }}</td>
    <td>{{ target.halpha_broad_cont|floatformat:3 }}{{ target.halpha_broad_cont_err|safe }}</td>
    <td>{{ target.halpha_broad_ew|floatformat:2 }}  {{ target.halpha_broad_ew_err|safe }}</td>
    <td>{{ target.halpha_broad_chi2|floatformat:3 }}</td>
    <td>{{ target.halpha_broad_npix }}</td>
  </tr>
</table>
<br />



{% comment %}
<table class="table table-bordered">
  <tr>
    <td><a href="{{ target.png_base_url }}/fastspec-{{ target.survey }}-{{ target.faprgrm }}-{{ target.str_hpxpixel }}-{{ target.str_targetid }}.png">
        <img class="img-responsive" width="100%" src="{{ target.png_base_url }}/fastspec-{{ target.survey }}-{{ target.faprgrm }}-{{ target.str_hpxpixel }}-{{ target.str_targetid }}.png" alt="Missing file fastspec-{{ target.survey }}-{{ target.faprgrm }}-{{ target.str_hpxpixel }}-{{ target.str_targetid }}.png">
    </a></td>
  </tr> 
</table>
<br />
{% endcomment %}

<h3>Broadband Photometry Modeling</h3><br />

<h6>Stellar Continuum Fitting</h6>
<table class="table table-bordered table-hover">
  <tr>
    <th>&#967;<sup>2</sup></th> <!-- chi^2 -->
    <th>Age<br />(Gyr)</th>
    <th>A<sub>V</sub><br />(mag)</th>
    <th>D<sub>n</sub>(4000)<br />(model)</th>
  </tr>
  <tr>
    <td>{{ target.phot_continuum_chi2|floatformat:3 }}</td>
    <td>{{ target.phot_continuum_age|floatformat:3 }}</td>
    <td>{{ target.phot_continuum_av|floatformat:2 }}</td>
    <td>{{ target.phot_dn4000_model|floatformat:3 }}</td>
  </tr>
</table>
<br />

<h6>Legacy Imaging Surveys (Photsys {{ target.photsys }})</h6>
<table class="table table-bordered table-hover">
  <tr>
    <th>AB mag<br />(ext. corr)</th>
    <th>g</th>
    <th>r</th>
    <th>z</th>
    <th>W1</th>
    <th>W2</th>
  </tr>
  <tr>
    <td>Data</td>
    <td>{{ target.abmag_g }}{{ target.abmag_err_g|safe }}</td>
    <td>{{ target.abmag_r }}{{ target.abmag_err_r|safe }}</td>
    <td>{{ target.abmag_z }}{{ target.abmag_err_z|safe }}</td>
    <td>{{ target.abmag_w1 }}{{ target.abmag_err_w1|safe }}</td>
    <td>{{ target.abmag_w2 }}{{ target.abmag_err_w2|safe }}</td>
  </tr>
  <tr>
    <td>Model</td>
    <td>{{ target.phot_abmag_synth_model_g }}</td>
    <td>{{ target.phot_abmag_synth_model_r }}</td>
    <td>{{ target.phot_abmag_synth_model_z }}</td>
    <td>{{ target.phot_abmag_synth_model_w1 }}</td>
    <td>{{ target.phot_abmag_synth_model_w2 }}</td>
  </tr>
</table>
<br />

<h6>K-corrections & Absolute Magnitudes (band-shifted to z=0.0)</h6>
<table class="table table-bordered table-hover">
  <tr>
    <th></th>
    <th colspan="5">SDSS</th>
    <th colspan="3">Johnson-Morgan</th>
    <th>WISE</th>
  </tr>
  <tr>
    <th>AB mag</th>
    <th>u</th>
    <th>g</th>
    <th>r</th>
    <th>i</th>
    <th>z</th>
    <th>U</th>
    <th>B</th>
    <th>V</th>
    <th>W1</th>
  </tr>
  <tr>
    <td>M<sub>abs</sub></td>
    <td>{{ target.phot_absmag_sdss_u|floatformat:3 }}</td>
    <td>{{ target.phot_absmag_sdss_g|floatformat:3 }}</td>
    <td>{{ target.phot_absmag_sdss_r|floatformat:3 }}</td>
    <td>{{ target.phot_absmag_sdss_i|floatformat:3 }}</td>
    <td>{{ target.phot_absmag_sdss_z|floatformat:3 }}</td>
    <td>{{ target.phot_absmag_u|floatformat:3 }}</td>
    <td>{{ target.phot_absmag_b|floatformat:3 }}</td>
    <td>{{ target.phot_absmag_v|floatformat:3 }}</td>
    <td>{{ target.phot_absmag_w1|floatformat:3 }}</td>
  </tr>
  <tr>
    <td>K<sub>corr</sub></td>
    <td>{{ target.phot_kcorr_sdss_u|floatformat:3 }}</td>
    <td>{{ target.phot_kcorr_sdss_g|floatformat:3 }}</td>
    <td>{{ target.phot_kcorr_sdss_r|floatformat:3 }}</td>
    <td>{{ target.phot_kcorr_sdss_i|floatformat:3 }}</td>
    <td>{{ target.phot_kcorr_sdss_z|floatformat:3 }}</td>
    <td>{{ target.phot_kcorr_u|floatformat:3 }}</td>
    <td>{{ target.phot_kcorr_b|floatformat:3 }}</td>
    <td>{{ target.phot_kcorr_v|floatformat:3 }}</td>
    <td>{{ target.phot_kcorr_w1|floatformat:3 }}</td>
  </tr>
</table>
<br />

<table class="table table-bordered">
  <tr>
    <td><a href="{{ target.png_base_url }}/fastphot-{{ target.survey }}-{{ target.faprgrm }}-{{ target.str_hpxpixel }}-{{ target.str_targetid }}.png"><img class="img-responsive" width="100%" src="{{ target.png_base_url }}/fastphot-{{ target.survey }}-{{ target.faprgrm }}-{{ target.str_hpxpixel }}-{{ target.str_targetid }}.png" alt="Missing file fastphot-{{ target.survey }}-{{ target.faprgrm }}-{{ target.str_hpxpixel }}-{{ target.str_targetid }}.png"></a></td>
  </tr> 
</table>

{% if result_index > -1 %}
  <form style="display:inline;" action="{% url 'target-prev' result_index %}"><button{% if not has_prev %} disabled{% endif %}>Previous</button></form> 
  <form style="display:inline;" action="{% url 'target-next' result_index %}"><button{% if not has_next %} disabled{% endif %}>Next</button></form> 
  <form style="display:inline;" action="{% url 'index' %}#query"><button>New</button></form> 
  <br /><br /><br />
{% endif %}

{% endblock %}

