{% extends "base.html" %}

{% block content %}

{% comment %}
<style type="text/css">
table, td, th {padding: 5px; text-align: center; border: 1px solid black}
</style>
{% endcomment %}

<style type="text/css">
td, th {text-align: center}
</style>

{% if result_index > -1 %}
<br />
<form style="display:inline;" action="{% url 'target-prev' result_index %}"><button{% if not has_prev %} disabled{% endif %}>Previous</button></form> 
<form style="display:inline;" action="{% url 'target-next' result_index %}"><button{% if not has_next %} disabled{% endif %}>Next</button></form> 
<form style="display:inline;" action="{% url 'index' %}#query"><button>New</button></form> 
<br />
{% endif %}

<h2>{{ nice_target_name }}</h2>

<h4><a href="https://www.legacysurvey.org/viewer/?ra={{ target.ra }}&dec={{ target.dec}}&zoom=15&layer=ls-dr9"
       target="_blank">Sky Viewer</a></h4> 
<h4><a href="{{ target.data_base_url }}">Fitting Catalogs</a></h4> 

<h3>Target Properties</h3>
<table class="table table-bordered table-hover">
<tr>
<th>TargetID</th>
<th>RA<br />(degree)</th>
<th>Dec<br />(degree)</th>
</tr>
<tr>
<td>{{target.targetid}}</td>
<td>{{target.str_ra}}</td>
<td>{{target.str_dec}}</td>
</tr>
</table>

<br />
<h3>Visualizations</h3>
<p>Write me.</p>
<table class="table table-bordered">
<tr><td><a href="{{ target.png_base_url }}/{{ target.str_tileid }}/fastspec-{{
           target.str_tileid }}-cumulative-{{ target.str_targetid }}.png"><img class="img-responsive" width="100%" src="{{ target.png_base_url }}/{{ target.str_tileid }}/fastspec-{{
           target.str_tileid }}-cumulative-{{ target.str_targetid }}.png"
           alt="Missing file fastspec-{{ target.str_tileid }}-cumulative-{{ target.str_targetid }}.png"></a></td></tr> 
</table>

{% if result_index > -1 %}
<form style="display:inline;" action="{% url 'target-prev' result_index %}"><button{% if not has_prev %} disabled{% endif %}>Previous</button></form> 
<form style="display:inline;" action="{% url 'target-next' result_index %}"><button{% if not has_next %} disabled{% endif %}>Next</button></form> 
<form style="display:inline;" action="{% url 'index' %}#query"><button>New</button></form> 
<br /><br /><br />
{% endif %}


{% endblock %}

